<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %} Unknown {% endblock %} - TheOuterClub</title>
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='style.css') }}"/>
{% block headers %} {% endblock %}
</head>
<body>
<div id="facebox">
<div>
<h2>Hello there</h2>
<p>
	    New Discussion:<br />
	    Title: <input type="text" name="title" />
	    <br />
	    Content: <input type="text" name="content" />
	    <br />
	    Area: <select name="area">
	        <option value="lounge">lounge</option>
	        <option value="current events">current events</option>
	        <option value="high school">high school</option>
	        <option value="college">college</option>
	        <option value="love clinic">love clinic</option>
	        <option value="sports">sports</option>
	        <option value="philosophy">philosophy</option>
	        <option value="adulthood">adulthood</option>
	        <option value="technology">technology</option>
	        <option value="video & computer games">video &amp; computer games</option>
	        <option value="fashion">fashion</option>
	        <option value="tv & movies">tv &amp; movies</option>
	        <option value="music">music</option>
	        </select>
</p>
<p><button name="post" class="close">Post</button></p>
<p><button class="close">Close</button></p>
</div>
</div>
<div id="wrapper990">
	<div class="header">
		<h1 id="logo"><a href="/" title="The Outer Club">The Outer Club</a></h1>
		<div class="section">
			<div class="section_bg_left"></div>
				<div class="section_bg_centre">
					<div class="nav">
						<ul>
							<li>
								<a href="" class="group">Group</a>
							</li>
							<li>
								<a href="" class="chat">Chat</a>
							</li>
							<li>
								<a href="" class="video">Video</a>
							</li>
							<li>
								<a href="" class="home">Home</a>
							</li>
						</ul>
					</div>
					<div class="search">
						<input id="search_button"type="submit" value="go"/>
						<input id="search" type="text" value="Search"/>
					</div>
				</div>			
			<div class="section_bg_right"></div>
		</div>
	</div>
	<div id="newthread">
        <button name="submit" rel="#facebox">Submit</button>
	    Welcome <strong>{{ username }}</strong> <a href="{{ url_for('logout') }}">Log out</a>
	</div>
<div class="slide_show">
		<h2>Happening Right Now</h2>
        <div class="scroll">
        </div>
	</div>

{% block content %} {% endblock %}
</div>
<div class="chairs">
    <img src="/static/images/new/chairs.png" />
</div>
{% include 'partials/footer.html' %}

<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.7.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.tools.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/outer.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    init('{{ session['user_id'] }}');
    $("#newthread button").overlay({
        mask: {
            color: '#000',
            loadSpeed: 200,
            opacity: 0.3
        }
       });
    $("#facebox button[name='post']").click(function() {
        $.post('{{ url_for('post') }}',{ area: $("select[name='area']").val(),title:$("input[name='title']").val(),content:$("input[name='content']").val() });
    });
});
</script>
{% block footers %} {% endblock %}
</body>
</html>

