<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %} Unknown {% endblock %} - OuterClub</title>
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/style.css') }}"/>
{% block headers %} {% endblock %}
</head>
<body>
<div id="facebox">
    <div>
    <h2>New Discussion</h2>
    <p>
            Title: <input type="text" name="title" />
            <br />
            <span style="vertical-align:top"> Content:</span> <textarea name="content"></textarea>
    </p>
    <p><button name="post" class="close">Post</button></p>
    <p><button class="close">Close</button></p>
    </div>
</div>
<div id="wrapper990">
	<div class="header">
		<h1 id="logo"><a href="#welcome" title="OuterClub">Outer Club</a></h1>
		<div class="section">
			<div class="section_bg_left"></div>
				<div class="section_bg_centre">
					<div class="nav">
						<ul>
							<li>
								<a href="" class="group">Group</a>
							</li>
							<li>
								<a href="" class="chat">Chat</a>
							</li>
							<li>
								<a href="" class="video">Video</a>
							</li>
							<li>
								<a href="" class="home">Home</a>
							</li>
						</ul>
					</div>
					<div class="search">
						<input id="search_button"type="submit" value="go"/>
						<input id="search" type="text" value="Search"/>
					</div>
	    Welcome <strong>{{ username }}</strong> <a href="{{ url_for('logout') }}">Log out</a>
				</div>			
			<div class="section_bg_right"></div>
		</div>
	</div>
{% block frame %} {% endblock %}
</div>
<div class="chairs">
    <img src="/static/images/new/chairs.png" />
</div>
{% include 'partials/footer.html' %}

<script type="text/javascript" src="{{ url_for('static',filename='js/require.js') }}"></script>
<script type="text/javascript">
require({
    baseUrl: 'static/js',
    priority: ['jquery-1.7.1.min']
},['main']);
</script>
<!--
<script type="text/javascript">
$(document).ready(function() {
    init('{{ session['user_id'] }}');
    
});
</script>
-->
{% block footers %} {% endblock %}
</body>
</html>

