{% extends 'layouts/default.html' %}
{% block content %}

	<div class="menu_tab">
		<ul>
			<li class="
                {% if request.path == '/' %}
                    active
                {% endif %}
                first">
				<a href="{{ url_for('index') }} ">Welcome</a>
			</li>
			<li class="
                {% if request.path == '/categories' %}
                    active
                {% endif %}
                ">
				<a href="{{ url_for('categories') }}">Categories</a>
			</li>
			<li class="
                {% if request.path == '/trending' %}
                    active
                {% endif %}
                    trendingnow">
				<a href="{{ url_for('trending') }}">Trending Now</a>
			</li>
			<li class="startthread">
				<a href="startthread.html">Start Thread</a>
			</li>
		</ul>
    </div>
	<div id="content">

        <div id="content_top">
            <div id="article_section">
            {% block inner %} {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
