@import url(footer.css);
@font-face {
    font-family: 'BebasRegular';
    src: url('/static/BEBAS___-webfont.eot');
    src: url('/static/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/BEBAS___-webfont.woff') format('woff'),
         url('/static/BEBAS___-webfont.ttf') format('truetype'),
         url('/static/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	margin:0;
	font-family:Helvetica,Arial,Sans-Serif;
    font-size: 12px;
    background: black url(/static/images/new/background.png) repeat-x 0 0;
}

#newthread {
    padding: 5px;
}

/**
 * Miscellaneous
 */
.clear {
clear: both;
}
