@import url('layout.css'); 
a{
	text-decoration:none;
	color:#ff8211;
}
a:hover{
	text-decoration:underline;
}
#wrapper990{
	width:1007px;
	margin-left:auto;
	margin-right:auto;
}
.header{
	background:transparent url(/static/images/header_bg.png) no-repeat 0 0;
	position:relative;
	height:121px;
	margin-top:15px;
}
.header h1{
	margin:0;
}
h1#logo a{
	background:transparent url(/static/images/logo.png) no-repeat 0 0;
	width:297px;
	height:59px;
	display:block;
    text-indent: -9999px;
	position:absolute;
	top:22px;
	left:35px;
}
.section{
	position:absolute;
	height:53px;
	width:513px;
	left: 469px;
	top:27px;
}
.section_bg_left{
	background:transparent url(/static/images/section_bg_left.png) no-repeat 0 0;
	width:13px;
	float:left;
	height:53px;
}
.section_bg_centre{
	background:transparent url(/static/images/section_bg_centre.png) repeat-x 0 0;
	height:53px;
	float:left;
	width:486px;
}
.section_bg_right{
	background:transparent url(/static/images/section_bg_right.png) no-repeat 0 0;
	height:53px;
	width:13px;
	float:left;
}
.nav{
	border-right: 1px solid #999999;
    float: left;
	margin-top:1px;
    height: 51px;
    width: 235px;
}
.nav ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.nav ul li{
	float:left;
	margin: 13px 0 0 20px;
}
a.group{
	background:transparent url(/static/images/group.png) no-repeat 0 0;
	height:29px;
	width:32px;
	display:block;
	text-indent: -9999px;
}
a.chat{
	background:transparent url(/static/images/chat.png) no-repeat 0 0;
	height:29px;
	width:34px;
	display:block;
	text-indent: -9999px;
}
a.video{
	background:transparent url(/static/images/video.png) no-repeat 0 0;
	height:34px;
	width:27px;
	display:block;
	text-indent: -9999px;
}
a.home{
	background:transparent url(/static/images/home.png) no-repeat 0 0;
	height:28px;
	width:28px;
	display:block;
	text-indent: -9999px;
}
.search{
	background:transparent url(/static/images/search_bg.png) no-repeat 0 0;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 12px;
    width: 220px;
}
#search_button{
    background: url(/static/images/search.png) no-repeat scroll 0 0 transparent;
    display: block;
    height: 29px;
    position: absolute;
    text-indent: -9999px;
    width: 33px;
	border: medium none;
	padding:0;
}
#search{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 27px;
    position: absolute;
    width: 180px;
	left:40px;
	color:#ffffff;
	line-height: 27px;
}











