<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %} Unknown {% endblock %} - OuterClub</title>
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/layout.css') }}"/>
{% block headers %} {% endblock %}
</head>
<body>
<div id="new_conversation_box" class="overlay">
    <div class="border">
    <h2>New Conversation</h2>
    <div class="titleField"><input size="40" type="text" name="title" /><span class="label">title</span></div>
    <div class="contentField"><textarea cols="90" rows="20" name="content"></textarea><span class="label">content</span></div>
    <p><button name="post" class="close">Post</button> <button class="close">Close</button></p>
    </div>
</div>
<div id="menu">
<ul>
<li id="miniLogo"><a class="active" href="#welcome"></a></li>
<li class="link"><a href="#categories">CATEGORIES</a></li>
<li class="link"><a href="#guilds">GUILDS</a></li>
<li class="link"><a href="#trending">TRENDING NOW</a></li>
<li class="link"><a href="#leaderboard">LEADERBOARD</a></li>
<li class="link"><a href="#community">COMMUNITY</a></li>
</ul>
<div class="right">
<div class="search">
<input type="text" name="search" />
<span>Search</span>
<button />
</div>
</div>
</div>
<div id="miniProfile">
<a href="/user/{{ user_id }}"><img width="100" height="100" src="{{ url_for('static',filename='images/avatars/'+avatar) }}" /></a>
<div>
<h2>{{ username }}</h2> <a href="{{ url_for('logout') }}">Log out</a><br />
<p>Prestige: <span class="prestige">{{ prestige }}</span></p>
</div>
</div>
<div class="slide_show hide">
		<h2>Happening Right Now</h2>
        <div class="scroll">
        </div>
	</div>
<div id="outer">
{% block content %} {% endblock %}
</div>
{% include 'partials/footer.html' %}

<script type="text/javascript" src="{{ url_for('static',filename='js/require.js') }}"></script>
<script type="text/javascript">
require({
    baseUrl: 'static/js',
    priority: ['jquery-1.7.1.min']
},['main']);
</script>
{% block footers %} {% endblock %}
</body>
</html>

