<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %} Unknown {% endblock %} - OuterClub</title>
{% if config['DEBUG'] %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/reset.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/misc.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/footer.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/layout.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/welcome.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/about.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/trending.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/user.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/category.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/conversation.css') }}"/>
{% else %}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/build/{{ config['COMPILE']['css']['file'] }}"/>
{% endif %}
{% if not config['DEBUG'] %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  window['_gaq'] = _gaq;
  _gaq.push(['_setAccount', 'UA-29349455-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
</head>
<body>
<div id="altBody" style="display:none">
</div>
<div id="menu" style="display: none">
    <ul class="links">
    <li id="miniLogo"><a class="active" href="#!/welcome"></a></li>
    <li class="link"><a name="category" href="#!/category/general">CATEGORIES</a></li>
    <li class="link"><a href="#!/trending">TRENDING NOW</a></li>
    <li class="link"><a href="#!/leaderboard">LEADERBOARD</a></li>
    </ul>
    <div class="right">
        <div id="miniProfile">
            <a href="#!/user/{{ user_id }}">
                <img height="43" src="{{ url_for('static',filename='images/avatars/'+avatar) }}" />
                <span class="name">{{ username }}</span>
            </a>
            <div class="text">
                Prestige: <span class="prestige">{{ prestige }}</span> <a href="{{ url_for('logout') }}">Log Out</a>
            </div>
        </div>
        <button rel="#refer" class="default">Invite a Friend</button>
        <div class="online">
	        <button id="chatButton" class="default">Global Chat (<span>1</span>)</button>
        </div>
        <div id="chat" style="display:none">
        	<h2>Welcome to OuterClub global chat!</h2>
        	<ul>
        	</ul>
        	<input type="text" name="msg" size="40" />
    	 </div>
    <!--<div class="search">
    <input type="text" name="search" />
    <span>Search</span>
    <button />
    </div>
    -->
    </div>
</div>
<div id="refer" class="overlay">
    <div class="border">
       <h2>Invite a Friend</h2>
        <label for="name">Name:</label> <input type="text" name="name" /><br />
        <label for="email">E-mail:</label> <input type="text" name="email" />
        <div class="error"></div>

        <p><button name="submit">Send Invitation</button> <span>{{ invites }}</span> remaining</p>
    </div>
</div>
<div id="outer">
{% block content %} {% endblock %}
</div>
{% include 'partials/footer.html' %}
<script type="text/javascript">
window['RTG_WEBPORT'] = {{ config['RTG_WEBPORT'] }};
window['DEBUG'] = {% if config['DEBUG'] %}true{% else %}false{% endif%};
</script>
    <script type="text/javascript" src="/static/sockjs-0.2.1.min.js"></script>
    <script type="text/javascript" src="/static/d3.v2.min.js"></script>
{% if config['DEBUG'] %}
   <script type="text/javascript" src="/static/build/all.js"></script>
{% else %}
    <script type="text/javascript" src="/static/build/{{ config['COMPILE']['js']['file'] }}"></script>
{% endif %}
{% block footers %} {% endblock %}
</body>
</html>

