<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %} Unknown {% endblock %} - OuterClub</title>
{% if debug %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/reset.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/misc.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/footer.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/layout.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/welcome.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/trending.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/user.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/categories.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/category.css') }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/conversation.css') }}"/>
{% else %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/layout.compiled.css') }}"/>
{% endif %}
{% block headers %} {% endblock %}
</head>
<body>

<div id="menu">
<ul>
<li id="miniLogo"><a class="active" href="#welcome"></a></li>
<li class="link"><a href="#categories">CATEGORIES</a></li>
<!--<li class="link"><a href="#guilds">GUILDS</a></li>-->
<li class="link"><a href="#trending">TRENDING NOW</a></li>
<li class="link"><a href="#leaderboard">LEADERBOARD</a></li>
</ul>
<div class="right">
<!--
<div class="search">
<input type="text" name="search" />
<span>Search</span>
<button />
-->
</div>
</div>
</div>
<div id="miniProfile">
<a href="/user/{{ user_id }}"><img width="70" height="70" src="{{ url_for('static',filename='images/avatars/'+avatar) }}" /></a>
<div>
<h2>{{ username }}</h2> <a href="{{ url_for('logout') }}">Log out</a><br />
<p>Prestige: <span class="prestige">{{ prestige }}</span></p>
</div>
</div>
<div class="slide_show" style="display: none">
		<h2>Happening Right Now</h2>
        <div class="scroll">
        </div>
	</div>
<div id="outer">
{% block content %} {% endblock %}
</div>
{% include 'partials/footer.html' %}
    <script type="text/javascript" src="/static/sockjs-0.1.2.js"></script>
{% if debug %}
    <script type="text/javascript" src="http://localhost:9810/compile?id=outerclub"></script>
{% else %}
    <script type="text/javascript" src="/static/js/all.compiled.js"></script>
{% endif %}
{% block footers %} {% endblock %}
</body>
</html>

