.aboutus{
	height:auto;
	padding-bottom: 145px;
}
.aboutus h2 {
   color: white; 
	font-family: BebasRegular;
	font-size:24px;
}
.about{
	padding: 22px 19px 26px 19px;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px #000;
    width: 932px;
    margin: 0 auto;
}
.about img{
	display: block;
}
.about h2{
	width:280px;
    color: #4b74ba;
	text-align: right;
	line-height: 30px;
	padding:0 10px 0 0;
	margin-left: 20px;
}
.about_content p{
	width:600px;
	color:#969696;
	float: right;
	margin:0px 10px 5px;
}
.about ul{
	width:600px;
	color:#969696;
	float: right;
	padding:0;
	margin:20px 0 0;
}
.about ul li{
	margin-left:10px;
}
.about_content{
    padding-top: 20px;
    padding-bottom: 20px;
}
.about .odd{
	background:#151515;
}
.about .even{
	background:#282828;
}
.about .last{
	padding-bottom:10px;
}
.friendship{
	background:transparent url(/static/images/friendship_bg.png) repeat 0 0;
	margin:-10px 0;
    border-color: #4C4C4C #5A5A5A #949494;
    border-style: solid;
    border-width: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    padding-top: 52px
}
.friendship h2{
	font-family: BebasRegular;
	color:#3c3c3c;
	font-size:30px;
	text-align: left;
	width:370px;
	float:left;
	margin: 10px 0 0 33px;
	text-shadow: 1px 1px 0 #FFFFFF;
}
.friendship .quote{
	color:#d8d8d8;
    display: inline-block;
	width:364px;
	margin:0;
	padding:12px 129px 12px 18px;
	background:#6a6a6a;
	border-bottom: 1px solid #D7D7D7;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
	-webkit-box-shadow: 5px 5px 7px 0 #5A5A5A inset;
	-moz-box-shadow: 5px 5px 7px 0 #5A5A5A inset;
	box-shadow: 5px 5px 7px 0 #5A5A5A inset;
}
.friendship p {
    color: #555;
}
.friendship_content{
    clear: both;
    padding: 30px;
    border-bottom: 1px solid gray;
}
.friendship_content img{
	background: #6a6a6a;
	margin:0;
	-webkit-border-radius:5px 0 5px 5px;
	-moz-border-radius:5px 0 5px 5px;
	border-radius:5px 0 5px 5px;
	-webkit-box-shadow: 2px 5px 7px 0px #5A5A5A inset;
	-moz-box-shadow: 2px 5px 7px 0px #5A5A5A inset;
	box-shadow: 2px 5px 7px 0px #5A5A5A inset;
	border: 1px solid #777;
}
.friendship_content_left {
    float: left;
    margin-right: 15px;
}
.friendship_content_right {
    float: left;
}
.friendship_content_right span {
    font-family: BebasRegular;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
    text-shadow: 2px 2px 0 #ccc;
}
.friends{
	border-bottom:none;
	height: auto;
}
.friends_list{
    clear: both;
}
.friends_list p{
    width: 110px;
    padding: 12px 14px 9px 0;
	font-size:15px;
}
.friendship_content_right{
    float: left; 
    width: 600px;
}
.friendship_content_right h4{
    color: #202020;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

