/* --------------------Technology Board--------------------- */

.content_wrapper .heading .left {
    float: left;
    padding-left: 20px;
}
.content_wrapper .heading .left img {
    vertical-align: middle;
    margin-top: -24px;
}
.content_wrapper .right {
    float: right;
}

.heading{
    padding-top: 20px;
    overflow: hidden;
}
.content_wrapper .heading h2{
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: BebasRegular;
	text-shadow: 1px 1px 2px #000000;
    display: inline;
    margin-left: -5px;
    font-size: 160%;
}
.heading h3{
    display: inline-block;
    color: #FFFFFF;
    font-family: BebasRegular;
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}
.heading .left a:hover {
    text-decoration: none;
}
.heading .right button{
    display: inline-block;
    font-family: BebasRegular;
    font-size: 14px;
	text-transform: uppercase;
	background: url(/static/images/start_thread_button.png);
    border: 0;
	color: white;
    height: 31px;
    width: 161px;
}

/**
 * Posts
 */
.posts {
    margin-bottom: 15px;
}
.posts h1 a {
    color: #6597ca;
}
.post a:hover {
    color: #dd9a7a
}
.post{
    background: #1b2127;
    display: block;
    margin-bottom: 3px;
    color: #7a7a7a;
    overflow: hidden;
}
.post .left img {
    vertical-align: 40%;
}
.post .left {
    padding: 3px 10px 3px 10px;
    float: left;
}
.post .right {
    float: right;
    overflow: hidden;
}
.post .right .block {
    float: left;
    padding: 6px;
    border-left; 1px solid gray;
}
.featured h1,.post h1{
    font-family: BebasRegular;
    font-size: 24px;
    display: inline
}
.featured_nav{
    width: 182px;
    float: left;
    margin-top: 50px;
}

/** Conversation box **/
#new_conversation_box {
    width: 700px;
}
#new_conversation_box .titleField,#new_conversation_box .contentField {
    position: relative;
}
#new_conversation_box .titleField input, #new_conversation_box textarea {
    border:0;
    border-left: 4px solid #ddd;
    color: #888;
    width: 100%;
}
#new_conversation_box textarea {
    font-size: 16px;
    color: #333;
    border: 0;
    border-left: 4px solid #ddd;
}
#new_conversation_box .titleField input {
   font-size: 30px; 
    font-weight: bold;
}
#new_conversation_box span {
    position: absolute;
    font-size: 30px;
    color: #ccc;
    font-weight: bold;
}
#new_conversation_box .focus {
    color: #efefef;
}
#new_conversation_box .titleField span {
    left: 50%;
    top: 4px;
    margin-left: -15px;
}
#new_conversation_box .contentField span {
    left: 50%;
    top: 142px;
    margin-left: -40px;
}
