#viewer {
    padding: 0;
    position:relative;
    overflow:hidden;
}
#viewer .menu {
    position:absolute;
    background-color: rgba(0,0,0,0.7);
    width:160px;
    
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
    padding: 5px 0 5px 0;
    z-index:1;
}
#viewer .menu li img{
	float:left;
}
#viewer .menu li {
	border-bottom:1px solid rgba(0,0,0,0.5);
}
#viewer .menu li a:hover,#viewer .menu a.active {
    background-color: rgba(119, 161, 204, 0.7);
}
#viewer .menu li a{
    color:white;
    font-weight:bold;
    display:block;
    overflow:hidden;
}
#viewer .menu li .name {
	display:block;
	margin:7px 0 0 5px;
	float:left;	
}
#viewer .content {
}
#viewer .panel,#viewer .scrollPanel {
    left:185px;
}
#viewer .panel,#viewer .scrollPanel {
    position:absolute;
}
/**
 * Heading.
 */
.heading .left {
    float: left;
}
.heading .left img {
    vertical-align: middle;
}
.heading .right {
    float: right;
    margin: -3px 0 0 10px;
}
.heading .right button {
    margin-top:5px;
}

.heading{
    overflow: hidden;
    margin: 20px 0 20px 0;
}
.heading h2{
    color: #FFFFFF;
    font-family: BebasRegular;
	text-shadow: 1px 1px 2px #000000;
    display: inline;
    font-size: 250%;
}
.heading h3{
    display: inline-block;
    color: #FFFFFF;
    font-family: BebasRegular;
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}
.heading .left a:hover {
    text-decoration: none;
}
/**
 * Posts
 */
.posts {
    position:relative;
}
.post a:hover img {
    opacity: 0.8;
}
.post{
    width:285px;
    position:absolute;
}
.post a h1{
	font-family:BebasRegular;
    font-size: 200%;
    color: white;
    left:4px;
    top:5px;
    text-shadow: 1px 1px 1px #000000;
    filter: dropshadow(color=#000000,offx=1,offy=1);
    word-spacing:4px;
}
.post .innerTop,.post .innerBottom {
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}
.post .innerTop {
    overflow:hidden;
    background-color: rgba(0,0,0,0.7);
    
}
.post .convo {
    position:relative;
    height:105px;
    display:block
}
.post .convo > * {
    position:absolute;
}
.post .block {
    margin:5px;
    font-weight:bold;
}
.post .block a {
    float:right;
}

/**
 * Post bottom section.
 */
.post .innerBottom {
    background-color: rgba(0,0,0,0.8);
    overflow:hidden;
    padding-top: 5px;
}
.post .responses {
    position:relative;
    overflow:hidden;
}
.post .response {
    position:absolute;
    overflow:hidden;
    padding:10px 15px;
}
.post .responses .border {
    border-bottom: 1px solid #444;
}
.post .responses .text {
    float:left;
    width:218px;
}
.post .responses .name {
    color:white;
    font-weight:bold;
}
.post .responses .name:hover {
    text-decoration:underline;
}
.post .responses img {
    vertical-align: middle;
}
.post .responses img.avatar {
    float:left;
    margin-right:6px;
}
.post .text .date {
    color: #777;
    font-size:80%;
   }
.post textarea {
    width:284px;
    background-color: rgba(0,0,0,0.4);
    border: 0;
    color: white;
    padding: 5px;
    font-size:100%;
}

/** Conversation box **/
#newConversation {
    width: 700px;
}
#newConversation .titleField,#newConversation .contentField {
    position: relative;
}
#newConversation .titleField input, #newConversation textarea {
    border:0;
    border-left: 4px solid #ddd;
    color: #888;
    width: 100%;
}
#newConversation textarea {
    font-size: 16px;
    color: #333;
    border: 0;
    border-left: 4px solid #ddd;
}
#newConversation .titleField input {
   font-size: 30px; 
    font-weight: bold;
}
#newConversation span {
    position: absolute;
    font-size: 30px;
    color: #ccc;
    font-weight: bold;
}
#newConversation .focus {
    color: #efefef;
}
#newConversation .titleField span {
    left: 50%;
    top: 4px;
    margin-left: -15px;
}
#newConversation .contentField span {
    left: 50%;
    top: 115px;
    margin-left: -40px;
}
