#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#nav li a {
    color: white;
    margin: 1px;
}
#nav li a:hover {
    text-decoration: none;
    opacity: 0.6;
}

