/**
 * Footer
 */
.footer{
    border-top:1px solid #333;
    background-color: #222;
    float: left;
    width: 100%;
    font-weight: bold;
}
.footer a:hover {
    text-decoration: underline
}
.footer a,.footer {
    color: #ccc
}
.footer_menu {
    width: 990px;
    margin: 0 auto 0 auto;
    padding: 15px;
    overflow: hidden;
}
.footer_menu_left{
    float: left;
}
.footer span {
    color: #555;
}
.footer_menu_left a{
    margin-left: 5px;
    margin-right: 5px;
	text-decoration: none;
}
.footer_menu_right{
    float: right;
}

