@import url(reset.css);
@import url(footer.css);
@font-face {
    font-family: 'BebasRegular';
    src: url('/static/BEBAS___-webfont.eot');
    src: url('/static/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/BEBAS___-webfont.woff') format('woff'),
         url('/static/BEBAS___-webfont.ttf') format('truetype'),
         url('/static/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a{
	text-decoration:none;
    color:#77A1CC;
}
a.mention {
	color:#ff8211;
}
a:hover {
    color: #ffcc55;
    text-decoration: none
}
body{
    font-family: 'Helvetica Neue',Arial, sans-serif;
    font-size: 80%;
    background: black url(/static/images/background.png) repeat-x fixed top center;
    color:white;
}
#outer {
    margin: 43px auto 0px auto;
}
#frame {
}

/**
 * Upper menu
 */
#miniLogo {
}
#menu #miniLogo a {
    background: transparent url(/static/images/icons/oc.png) no-repeat 17px 5px;
    display: block;
    height: 43px;
    width: 60px;
}
#miniLogo:hover {
    background-color: white;
}
    
#menu {
    width: 100%;
    height:43px;
    background: rgba(0,0,0,0.8);
    color: white;
    position: fixed;
    z-index: 999;
    top: 0;
    -webkit-box-shadow: 0 0 3px #000; 
    -moz-box-shadow: 0 0 3px #000; 
    box-shadow: 0 0 3px #000; 
}
#menu ul.links {
    float: left;
    overflow:hidden;
}
#menu .right {
    float: right;
    overflow: hidden;
}
#menu .link a {
    font-weight: bold;
    color: white;
    padding: 15px 10px 15px 10px;
    display: block;
}
#menu .link .active {
	color:#ff8211;
    background-color: transparent;
}
#menu .link a:hover {
	color:#ff8211;
}

#menu .links li {
    float:left
}
#menu .online {
    float:left;
    font-weight:bold;
}
#menu .input{
    float: left;
    margin: 9px 0 0 0;
    overflow: hidden;
    position: relative;
   }
#menu input {
    border: 0;
    background-color: #000;
    font-size: 14px;
    color: #efefef;
    padding: 3px;
    float: left;
}
#menu .input label,.search span {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 1;
}
#menu .input span.light,.search span.light {
    color: #aaa;
}
#menu button {
    margin: 11px 10px 0 0;
    float:left
}
.search button{
    background: url(/static/images/search.png) no-repeat center center;
    height: 25px;
    width: 25px;
    border: 0;
    float: left
}
#chat {
	position:absolute;
	background-color: rgba(0,0,0,0.7);
	top:43px;
	right:0;
	width:275px;
}

#chat h2 {
	padding:5px;
	font-weight:bold
}
#chat ul{
	padding: 0 10px 5px 10px
}
#chat .date {
	color: gray;
}
#menu .online .notify {
	color: red;
	font-weight:bold;
}


/**
 * Profile card.
 */
#miniProfile {
    overflow: hidden;
    float:left
}
#miniProfile img,#miniProfile .name {
    float:left
}
#miniProfile .name {
    font-family: 'BebasRegular';
    font-size: 140%;
    margin: 11px 10px;
    color:white;
}
#miniProfile a:hover .name {
	color:#ff8211;
}
#miniProfile .text {
    float:left;
    margin: 11px 10px 11px 0;
}
#miniProfile .prestige {
    font-weight: bold;
    font-size: 140%;
}

.frame {
    background-color: rgba(55,55,55,0.9);
    padding: 25px;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.frame h1 {
    font-family:BebasRegular;
    font-size:500%;
    margin-bottom:20px;
}


/**
 * FAQ
 */
#faq {
    display:block;
    width:600px;
    margin: 60px auto 20px auto;
}
#faq .question {
    color: #6092c6;
    font-size: 180%;
    margin-bottom: 10px;
}
#faq .answer {
    font-size: 120%;
    line-height: 20px;
    margin-bottom: 15px;
}
/**
 * Miscellaneous
 */
.hide {
    display: none;
}
textarea, input {
    font-family: 'Helvetica Neue',Arial, sans-serif;
}
button.decorated{
    cursor: pointer;
    display: inline-block;
    font-family: BebasRegular;
    font-size: 14px;
	text-transform: uppercase;
	background: url(/static/images/button.png);
    border: 0;
	color: white;
    height: 31px;
    width: 161px;
}
.error {
    color: #c33;
    font-weight: bold;
}




/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(/static/images/overlay/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:640px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(/static/images/overlay/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}
.overlay {
    display: none;
    width: 500px;
    border: 10px solid #666;
    /* @alternate */
    border: 10px solid rgba(82,82,82,0.7);
    z-index: 9999;
    color: black;
    margin-bottom: 20px;
  }
.overlay div.border {
    padding: 10px;
    border: 1px solid #111;
    background-color: #fff;
}
.overlay h2 {
    margin: -11px;
    margin-bottom: 5px;
    color: #fff;
    /*background-color: #6D84b4;*/
    background-color: #333;
    padding: 5px 10px;
    /*border: 1px solid #3b5998;*/
    font-size: 20px;
    font-family: BebasRegular;
}

