@import url(reset.css);
@import url(footer.css);
@font-face {
    font-family: 'BebasRegular';
    src: url('/static/BEBAS___-webfont.eot');
    src: url('/static/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/BEBAS___-webfont.woff') format('woff'),
         url('/static/BEBAS___-webfont.ttf') format('truetype'),
         url('/static/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a{
	text-decoration:none;
	color:#ff8211;
}
a:hover {
    text-decoration: underline;
}
body{
	font-family:Helvetica,Arial,Sans-Serif;
    font-size: 80%;
    background: black url(/static/images/background.png) repeat-x top center;
}
#outer {
    width: 965px;
    margin: 380px auto 20px auto;
}

/**
 * Upper menu
 */
#miniLogo {
}
#menu #miniLogo a {
    background: transparent url(/static/images/icons/oc.png) no-repeat 17px 5px;
    display: block;
    height: 43px;
    width: 60px;
}
#miniLogo:hover {
    background-color: white;
}
    
#menu {
    width: 100%;
    background: rgba(0,0,0,0.65);
    color: #ddd;
    overflow: hidden;
}
#menu ul {
    float: left;
    overflow:hidden;
}
#menu .right {
    float: right;
    overflow: hidden;
}
#menu .link a {
    font-weight: bold;
    color: white;
    padding: 15px 10px 15px 10px;
    display: block;
}
#menu .link .active {
	color:#ff8211;
    background-color: transparent;
}
#menu .link a:hover {
	color:#ff8211;
}

#menu li {
    float:left
}
.search {
    float: left;
    margin: 9px 10px 0 0;
    overflow: hidden;
    position: relative;
   }
.search input {
    border: 0;
    background-color: #000;
    font-size: 14px;
    color: #efefef;
    padding: 2px;
    float: left;
}
.search span {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 1;
}
.search span.light {
    color: #aaa;
}
.search button{
    background: url(/static/images/search.png) no-repeat center center;
    height: 25px;
    width: 25px;
    border: 0;
    float: left
}
#search{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 27px;
    position: absolute;
    width: 180px;
	left:40px;
	color:#ffffff;
	line-height: 27px;
}


/**
 * Profile card.
 */
#miniProfile, .slide_show {
    right: 0px;
    width: 302px;
}
#miniProfile {
    position: absolute;
    top: 45px;
    overflow: hidden;
}
#miniProfile h2 {
    font-weight: bold;
    font-family: 'BebasRegular';
    font-size: 16px;
    display: inline-block;

}
#miniProfile img {
    float: left;
}
#miniProfile div {
    padding: 7px;
    float: left;
}
#miniProfile p {
    margin-top: 5px;
}
#miniProfile, .slide_show .text {
    background-color: rgba(0,0,0,0.65);
    color: white;
}
#miniProfile .prestige {
    font-weight: bold;
    font-size: 140%;
}

/**
 * slide show.
 */
.slide_show{
    position: absolute;
    top: 120px;
}
.slide_show .scroll {
}
.slide_show h2{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.slide_show .item {
    overflow: hidden;
    border: 1px solid #555;
    margin-bottom: 1px;
}
.slide_show .item:hover .text {
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}
.slide_show img.bg {
    display: block;
    height: 100px;
    width: 120px;
}
.slide_show  .text {
    height: 80px;
    width: 160px;
    padding: 10px;
    float: left;
}
.slide_show .text .content {
    display: block
}
.slide_show .text .date {
    color: #fdd610;
    float:right;
}
.slide_show .images {
    position: relative;
    float: left;
}
.slide_show .images .avatar {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
}

/**
 * Frames
 */
.content_wrapper{
    padding: 15px;
    background-color: rgba(20,20,20,0.9);
    clear: both;
}

 .content_wrapper .frame {
    background: url(/static/images/tiled_bg.jpg) repeat-y;
    color: white;
    padding: 15px;
}

/**
 * Miscellaneous
 */
.clear {
clear: both;
}

/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(/static/images/overlay/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:640px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(/static/images/overlay/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}
.overlay {
    display: none;
    width: 500px;
    border: 10px solid #666;
    border: 10px solid rgba(82,82,82,0.7);
    z-index: 9999;
    color: black;
    margin-bottom: 20px;
  }
.overlay div.border {
    padding: 10px;
    border: 1px solid #3b5998;
    background-color: #fff;
}
.overlay h2 {
    margin: -11px;
    margin-bottom: 0;
    color: #fff;
    /*background-color: #6D84b4;*/
    background-color: #333;
    padding: 5px 10px;
    /*border: 1px solid #3b5998;*/
    font-size: 20px;
    font-family: BebasRegular;
}

