@import url(reset.css);
@import url(footer.css);
@font-face {
    font-family: 'BebasRegular';
    src: url('/static/BEBAS___-webfont.eot');
    src: url('/static/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/BEBAS___-webfont.woff') format('woff'),
         url('/static/BEBAS___-webfont.ttf') format('truetype'),
         url('/static/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a{
	text-decoration:none;
    color:#77A1CC;
}
a.mention {
	color:#ff8211;
}
a:hover {
    color: #ffcc55;
    text-decoration: none
}
body{
	font-family:Helvetica,Arial,Sans-Serif;
    font-size: 80%;
    background: black url(/static/images/background.png) repeat-x fixed top center;
}
#outer {
    width: 965px;
    margin: 423px auto 20px auto;
}

/**
 * Upper menu
 */
#miniLogo {
}
#menu #miniLogo a {
    background: transparent url(/static/images/icons/oc.png) no-repeat 17px 5px;
    display: block;
    height: 43px;
    width: 60px;
}
#miniLogo:hover {
    background-color: white;
}
    
#menu {
    width: 100%;
    background: rgba(0,0,0,0.65);
    color: white;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    top: 0;
}
#menu ul {
    float: left;
    overflow:hidden;
}
#menu .right {
    float: right;
    overflow: hidden;
}
#menu .link a {
    font-weight: bold;
    color: white;
    padding: 15px 10px 15px 10px;
    display: block;
}
#menu .link .active {
	color:#ff8211;
    background-color: transparent;
}
#menu .link a:hover {
	color:#ff8211;
}

#menu li {
    float:left
}
#menu .online {
    float:left;
    margin: 15px 11px;
    font-weight:bold;
}
.search {
    float: left;
    margin: 9px 10px 0 0;
    overflow: hidden;
    position: relative;
   }
.search input {
    border: 0;
    background-color: #000;
    font-size: 14px;
    color: #efefef;
    padding: 2px;
    float: left;
}
.search span {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 1;
}
.search span.light {
    color: #aaa;
}
.search button{
    background: url(/static/images/search.png) no-repeat center center;
    height: 25px;
    width: 25px;
    border: 0;
    float: left
}
#search{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 27px;
    position: absolute;
    width: 180px;
	left:40px;
	color:#ffffff;
	line-height: 27px;
}


/**
 * Profile card.
 */
#miniProfile, .slide_show {
    right: 0px;
    width: 302px;
    position: fixed;
    z-index: 999
}
#miniProfile {
    top: 45px;
    overflow: hidden;
}
#miniProfile h2 {
    font-family: 'BebasRegular';
    font-size: 140%;
    display: inline-block;

}
#miniProfile img {
    float: left;
    border: 1px solid #222;
}
#miniProfile div {
    padding: 7px;
    float: left;
}
#miniProfile p {
    margin-top: 5px;
}
#miniProfile, .slide_show .text {
    background-color: rgba(0,0,0,0.65);
    color: white;
}
#miniProfile .prestige {
    font-weight: bold;
    font-size: 140%;
}

/**
 * slide show.
 */
.slide_show{
    top: 125px;
}
.slide_show .scroll {
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}
.slide_show h2{
    color: #FFFFFF;
    font-size: 140%;
    margin: 0 0 10px 0;
    font-family: BebasRegular;
}
.slide_show .item {
    overflow: hidden;
    border-bottom: 1px solid #222;
}
.slide_show .item:hover .text {
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}
.slide_show img.bg {
    display: block;
    height: 80px
}
.slide_show  .text {
    height: 60px;
    width: 145px;
    padding: 10px;
    float: left;
}
.slide_show .text .content {
    display: block
}
.slide_show .text .date {
    color: #fdd610;
    float:right;
}
.slide_show .images {
    position: relative;
    float: left;
}
.slide_show .images .avatar {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
}
.slide_show a.user {
    color:#bbb;
}

/**
 * FAQ
 */
#faq .question {
    color: #6092c6;
    font-size: 180%;
    margin-bottom: 10px;
}
#faq .answer {
    font-size: 120%;
    line-height: 20px;
    margin-bottom: 15px;
}

/**
 * Frames
 */
.content_wrapper{
    padding: 15px;
    background-color: rgba(20,20,20,0.9);
    clear: both;
}

 .content_wrapper .frame {
    background: url(/static/images/tiled_bg.jpg) repeat-y;
    color: white;
    padding: 15px;
}

/**
 * Miscellaneous
 */
h1 a,h2 a {
    color: #6092c6;
}
.hide {
    display: none;
}
textarea, input {
    font-family: Arial;
}
button.decorated{
    display: inline-block;
    font-family: BebasRegular;
    font-size: 14px;
	text-transform: uppercase;
	background: url(/static/images/button.png);
    border: 0;
	color: white;
    height: 31px;
    width: 161px;
}



/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(/static/images/overlay/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:640px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(/static/images/overlay/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}
.overlay {
    display: none;
    width: 500px;
    border: 10px solid #666;
    /* @alternate */
    border: 10px solid rgba(82,82,82,0.7);
    z-index: 9999;
    color: black;
    margin-bottom: 20px;
  }
.overlay div.border {
    padding: 10px;
    border: 1px solid #111;
    background-color: #fff;
}
.overlay h2 {
    margin: -11px;
    margin-bottom: 5px;
    color: #fff;
    /*background-color: #6D84b4;*/
    background-color: #333;
    padding: 5px 10px;
    /*border: 1px solid #3b5998;*/
    font-size: 20px;
    font-family: BebasRegular;
}

