.number,div .active {
    background-color: #6597CA;
    color: white;
    text-decoration: none;
}
.entry h2,.entry .date {
    color: #6597CA
}
.entry {
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
    color: #efefef;
    display: block;

}
.entry:hover h2 {
    color: white;
}
.entry h2 {
    text-transform: uppercase;
    float: left;
    margin: 0 0 7px 0;
    font-family: BebasRegular;
    font-size: 200%;
}
.entry .date {
    position: absolute;
    right:10px;
    top: 10px;
    font-weight:bold;
}
.text {
    float: left;
    padding: 10px 10px 10px 10px;
    position: relative;
    width: 660px; 
    background-color: rgba(0,0,0,0.2)
}
.entry .number {
    font: 50px BebasRegular;
    width: 86px;
    height: 90px;
}
.number span {
    padding: 5px 0 0 10px;
    display: block;
}
.entry p {
    clear:left;
}
.number,.entry img {
    float: left;
}

