.profile {
    position: relative;
}
.profile a[rel='#avatar'] img {
    position:absolute;
    left: 20px;
    top: 205px;
    border:5px solid white
}
.profile a[rel='#avatar']:hover img.me {
    border:5px solid #333;
}
.profile .overlay .hover, .profile .overlay .active{
    opacity: 1;
}
.profile .overlay .active {
    outline: 1px solid #222;
}
.profile .overlay img {
    opacity: 0.5;
    cursor: pointer;
}

.profile > h2 {
    font-family: BebasRegular;
    font-size: 500%;
    position:absolute;
    top:225px;
    left:150px;
    text-shadow: 1px 1px 1px #000000;
    filter: dropshadow(color=#000000,offx=1,offy=1);
}
.profile a[rel='#cover'] img {
    outline: 1px solid #222;
}
.profile > a[rel='#cover']:hover img.me {
   outline: 1px solid  white;
}
.profile h3 {
    font-family: BebasRegular;
    font-size: 200%;
    margin: 10px 0 10px 0;
}

/** blurbs
 */
.profile .blurb {
    position:relative;
    margin-bottom: 1px
}
.blurb label {
    position:absolute;
    z-index:1;
    color:gray;
    font-size:140%;
    top:3px;
    left:7px
}
.blurb input {
    border: 0;
    font-size: 120%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin:0;
    padding: 3px 6px 3px 6px;
}
.blurb span {
    width:170px;
    display:inline-block;
    text-align:right;
    margin-right:7px;
    font-weight:bold;
}

/**
 * Pager.
 */
.profile .border {
    overflow: hidden;
}
.center {
    margin: 0 auto 0 auto;
}
.center > div {
    float: left;
}
#cover {
    width: 640px;
}
#cover .center {
    height: 400px;
    overflow: auto;
}
