.profile {
    position: relative;
    width:875px;
    margin: 60px auto 20px auto;
    overflow:hidden;
}
.profile a[rel='#avatar'] img {
    position:absolute;
    left: 45px;
    top: 230px;
    border:5px solid white
}
.profile a[rel='#avatar']:hover img.me {
    border:5px solid #333;
}

.profile > h2 {
    font-family: BebasRegular;
    font-size: 500%;
    position:absolute;
    top:245px;
    left:175px;
    text-shadow: 1px 1px 1px #000000;
    filter: dropshadow(color=#000000,offx=1,offy=1);
}
.profile a[rel='#cover'] img {
    outline: 1px solid #222;
}
.profile > a[rel='#cover']:hover img.me {
   outline: 1px solid  white;
}
.profile h3 {
	word-spacing:3px;
    font-family: BebasRegular;
    font-size: 200%;
    margin: 10px 0 10px 0;
}
.profile .account {
	font-weight:bold;
}

/** blurbs
 */
.profile .blurb {
    position:relative;
    margin-bottom: 1px
}
.blurb label {
    position:absolute;
    z-index:1;
    color:gray;
    font-size:140%;
    top:3px;
    left:7px
}
.blurb input {
    border: 0;
    font-size: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin:0;
    padding: 3px 6px 3px 6px;
}
.blurb span {
    width:170px;
    display:inline-block;
    text-align:right;
    margin-right:7px;
    font-weight:bold;
}
.blurbs {
	width:510px;
	float:left;
}

.news {
	float:left;
	width:360px;
	
}
.news .item {
    overflow:hidden;
    margin-bottom:3px
}
.news .date {
    float:left;
    font-weight:bold;
}
.news .content {
    float:left;
    margin-left:5px;
    color: #bbb;
}
.news img {
    vertical-align: middle;
}

/**
 * Pager.
 */
.profile .border {
    overflow: hidden;
}
.center {
    margin: 0 auto 0 auto;
}
.center h1 {
	font-size:200%;
}
#cover {
    width: 400px;
}
#cover .center {
    height: 225px;
    overflow: auto;
}
