#welcome {
    overflow: hidden;
}
#welcome h1 {
    color: #77a1cc;
    font-family: BebasRegular;
    font-size: 200%;
    margin-bottom: 10px;
}
#welcome h1 span {
    color: white;
    font-size: 120%;
}
#welcome > div {
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    margin-bottom: 3px;
}
#welcome blockquote {
    padding: 15px;
    font-size: 150%;
}
#welcome blockquote .author {
    color: #888
}
.news,.twitter {
    width:342px;
    margin-left:3px;
    float:right;
}
.news .item {
    overflow:hidden;
    margin-bottom:3px
}
.news .date {
    float:left;
    font-weight:bold;
}
.news .content {
    float:left;
    margin-left:5px;
    color: #bbb;
}
.news img {
    vertical-align: middle;
}
.twitter {
    clear: right;
}
.twitter .tweet {
    margin-top:5px;
}
.twitter .tweet .hi {
    color: #77a1cc;
} 
.twitter .date {
    color: #bbb;
    font-style:italic;
}
.announcements {
    width: 500px;
    float:left;
}
.announcements img {
    float: left;
    margin: 0 5px 10px 0;
}
.announcement h2{
    font-weight: bold;
    font-size: 160%;
}
.announcement p {
    font-size: 120%;
    margin-bottom: 5px;
}
.announcement .date {
    color: #aaa;
    font-style:italic;
}
.question textarea {
    font-size: 14px;
}
.question button {
   vertical-align: bottom;
    background-color: #4376ce;
    text-align: right;
    color: white;
    border: 0;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
}
.tasks {
}
