#welcome {
    overflow: hidden;
    margin:60px 20px;
}
/*
#say {
	width:500px;
	text-align:center;
	margin: 200px auto 0 auto;
}
#say textarea {
	background-color:rgba(0,0,0,0.5);
	border:0;
	padding:3px;
	width:400px;
	color:white;
	height:100px;
	-webkit-border-radius:5px;
	margin-top:140px;
}
#say h1{
	font-weight:bold;
	color:white;
	font-size:200%;
	text-shadow:1px 1px 1px #333;
}
*/
.twitter {
    width:342px;
    margin-left:3px;
    float:right;
}
.twitter {
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    margin-bottom: 3px;
}
.twitter {
    clear: right;
}
.twitter .tweet {
    margin-top:5px;
}
.twitter .tweet .hi {
    color: #77a1cc;
} 
.twitter .date {
    color: #bbb;
    font-style:italic;
}
.question textarea {
    font-size: 14px;
}
.question button {
   vertical-align: bottom;
    background-color: #4376ce;
    text-align: right;
    color: white;
    border: 0;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
}
.tasks {
}
