@font-face {
    font-family: 'BebasRegular';
    src: url('/static/BEBAS___-webfont.eot');
    src: url('/static/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/BEBAS___-webfont.woff') format('woff'),
         url('/static/BEBAS___-webfont.ttf') format('truetype'),
         url('/static/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	margin:0;
	font-family:"Myriad Pro",Helvetica,Arial,Sans-Serif;
}

/**
 * Footer
 */
.footer{
    background-color: #333;
	margin-top: 80px;
    float: left;
    width: 100%;
    color: #555;
}
.footer_menu{
    width: 990px;
    margin: 0 auto 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer_menu_left{
    float: left;
}
.footer a,.footer_menu_right {
    color: #ccc;
}
.footer_menu_left a{
    margin-left: 5px;
    margin-right: 5px;
	text-decoration: none;
}
.footer_menu_right{
    float: right;
}
