@import url('css/layout.css'); 
a{
	text-decoration:none;
	color:#ff8211;
}
a:hover{
	text-decoration:underline;
}
#wrapper990{
	width:1007px;
	margin-left:auto;
	margin-right:auto;
}
.header{
	background:transparent url(/static/images/header_bg.png) no-repeat 0 0;
	position:relative;
	height:121px;
	margin-top:15px;
}
.header h1{
	margin:0;
}
h1#logo a{
	background:transparent url(/static/images/logo.png) no-repeat 0 0;
	width:297px;
	height:59px;
	display:block;
    text-indent: -9999px;
	position:absolute;
	top:22px;
	left:35px;
}
.section{
	position:absolute;
	height:53px;
	width:513px;
	left: 469px;
	top:27px;
}
.section_bg_left{
	background:transparent url(/static/images/section_bg_left.png) no-repeat 0 0;
	width:13px;
	float:left;
	height:53px;
}
.section_bg_centre{
	background:transparent url(/static/images/section_bg_centre.png) repeat-x 0 0;
	height:53px;
	float:left;
	width:486px;
}
.section_bg_right{
	background:transparent url(/static/images/section_bg_right.png) no-repeat 0 0;
	height:53px;
	width:13px;
	float:left;
}
.nav{
	border-right: 1px solid #999999;
    float: left;
	margin-top:1px;
    height: 51px;
    width: 235px;
}
.nav ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.nav ul li{
	float:left;
	margin: 13px 0 0 20px;
}
a.group{
	background:transparent url(/static/images/group.png) no-repeat 0 0;
	height:29px;
	width:32px;
	display:block;
	text-indent: -9999px;
}
a.chat{
	background:transparent url(/static/images/chat.png) no-repeat 0 0;
	height:29px;
	width:34px;
	display:block;
	text-indent: -9999px;
}
a.video{
	background:transparent url(/static/images/video.png) no-repeat 0 0;
	height:34px;
	width:27px;
	display:block;
	text-indent: -9999px;
}
a.home{
	background:transparent url(/static/images/home.png) no-repeat 0 0;
	height:28px;
	width:28px;
	display:block;
	text-indent: -9999px;
}
.search{
	background:transparent url(/static/images/search_bg.png) no-repeat 0 0;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 12px;
    width: 220px;
}
#search_button{
    background: url(/static/images/search.png) no-repeat scroll 0 0 transparent;
    display: block;
    height: 29px;
    position: absolute;
    text-indent: -9999px;
    width: 33px;
	border: medium none;
	padding:0;
}
#search{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 27px;
    position: absolute;
    width: 180px;
	left:40px;
	color:#ffffff;
	line-height: 27px;
}
.slide_show{
    background: url(/static/images/slide_bg.png) no-repeat scroll 0 0 transparent;
	height:289px;
	margin-top: 5px;
	position:relative;
}
.slide_show h2{
    color: #FFFFFF;
    font-size: 23px;
    left: 37px;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    top: 25px;
}
.slide_show_content {
	height:289px;
}
.slide_show_content img{
    left: 35px;
    position: absolute;
    top: 77px;
}
.menu_tab{
	margin-top:5px;
}
.menu_tab ul{
	height:45px;
	list-style:none;
	margin:0;
	padding-left: 0;
}
.menu_tab ul li{
    background: none repeat scroll 0 0 #D6D6D6;
    -webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
    float: left;
    height: 38px;
    margin-right: 4px;
    margin-top: 5px;
	border:1px solid #999999;
	border-bottom:none;
}
.menu_tab ul li:hover{
    background: #fff;
}
.menu_tab ul li.first{
	margin-left:19px;
}
.menu_tab ul li.first a{
    padding: 0 53px 0 56px;
}
.menu_tab ul li.active.first{
    background: url(/static/images/tab_bg.png) repeat-x 0 0 transparent;
    height: 61px;
    margin-left: 9px;
    padding-left: 0;

}
.menu_tab ul li.active{
    background: url(/static/images/tab_bg.png) repeat-x 0 0 transparent;
    height: 49px;
    margin-left: 0;
    margin-top: 0;
    padding-left:0;
	border: medium none;
}
.menu_tab ul li a{
    font-size: 22px;
    text-transform: uppercase;
	color:#a4a4a4;
    display: block;
	line-height: 38px;
    font-weight: bold;
    text-decoration: none;
	padding: 0 20px;
}
.menu_tab li.active a {
    color: #FFFFFF;
    height: 61px;
    line-height: 52px;
    padding: 0 26px;
}
#content_top{
    background: url(/static/images/tab_gradiant.png) repeat-x 0 0 transparent;
	padding-top: 17px;
	margin-top: -1px;
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
}
#content{
    background: url(/static/images/bg.png) repeat scroll 0 0 transparent;
    margin: 0 auto;
    padding-bottom: 56px;
    width: 990px;
	-webkit-border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	-webkit-box-shadow:0px 0px 10px #000000;
	-moz-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000; 
}
#article_section{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background: none repeat scroll 0 0 #E8E8E8;
    margin:0 20px;
	border: 1px solid #FFFFFF;
    padding: 10px;
	position: relative;
}
#article_section h1{
	letter-spacing: 2.5px;
	font-family:BebasRegular;
	color:#a5a5a5;
    padding: 7px 0 37px;
    text-align: center;
	margin:0;
	font-size:60px;
	font-weight: normal;
}
.article{
	overflow: hidden;
	margin: 0 24px 6px;
}
.article_left{
	width:280px;
	float:left;
}
.article_right{
    float: left;
	margin-left: 8px;
    width: 536px;
}
.article_left img{
	width:270px;
	height:156px;
	border:1px solid #c3c3c3;
}
.article_right h2{
	color:#8b2e30;
	font-family:BebasRegular;
	font-size:24px;
	margin: 0 0 6px;
	line-height: 20px;
	font-weight:normal;
}
.article_right p{
	margin:0;
	font-size:16px;
	line-height:20px;
	color:#848484;
}
.article_right span{
	color:#f89636;
	font-size:12px;
}
.content_bottom{
    background: url("/static/images/tab_content_bg_bottom.png") no-repeat scroll center top transparent;
    height: 56px;
}

.article_section_tag_of_the_day{
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background: none repeat scroll 0 0 #E8E8E8;
    margin:0 20px;
	border: 1px solid #FFFFFF;
    padding: 24px;
}
.tag_of_the_day.last{
	margin-right:0;
}
.tag_of_the_day{
    background: url(/static/images/article_trendingnow_bg.png) repeat 0 0 transparent;
    border: 1px solid #BFBFBF;
    border-radius: 5px 5px 5px 5px;
	float:left;
    width: 212px;
	margin-right: 14px;
}
.tag_of_the_day a{
    background: url(/static/images/tag_of_the_day_button.png) no-repeat top center transparent;
	height:70px;
	display:block;
	font-size:14px;
	color:#fff;
	text-align:center;
    margin: 0 auto;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	padding:15px 45px 0 45px;
}
#tag_of_the_day {
	padding:0 12px;
}
#tag_of_the_day p{
	color:#5c5c5c;
	font-size:14px;
	margin: 17px 0;
	cursor: pointer;
}
#tag_of_the_day p:hover{
	color:#ff7e00;
}
#tag_of_the_day p.top{
	margin-top:0;
}
#tag_of_the_day p.bottom{
	margin-bottom:37px;
}
/* --------------------Preview Page--------------------- */
.preview_content{
	background:#fff;
	padding: 40px 45px 30px 30px;
	margin-top: -10px;
	border:1px solid #d1d1d1;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
}
.preview_content img{
	margin:0 25px 20px 0;
	float: left;
	border:1px solid #b8b8b8;
}
.preview_content h1{
	font-family:BebasRegular;
	color:#848484;
    padding-bottom:18px;
	line-height: 22px;
	margin:0;
	font-size:28px;
	letter-spacing: 0.5px;
	border-bottom: 1px solid #CDCDCD;
	overflow: hidden;
}
.preview_content p{
	color:#848484;
	font-size:14px;
	text-align: justify;
	margin:15px 0 0 0;
	
}
.article_section_start_thread input#checkbox{
	margin:12px 7px 0 0;
	float: left;
}
.article_section_start_thread p.checkbox{
	margin:12px 0 0 0;
	line-height: 12px;
	font-size:16px;
	font-weight:bold;
	color:#808080;
}
.button a.back{
	position:absolute;
	right: 113px;
    top: 10px;
}


/* --------------------Start Thread--------------------- */
.article_section_start_thread{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background: none repeat scroll 0 0 #E8E8E8;
    margin:0 20px;
	border: 1px solid #FFFFFF;
    padding: 35px 63px 58px;
}
.article_section_start_thread ul{
	height:75px;
}
.article_section_start_thread ul li{
	background: url(/static/images/start_thread_bg.png) repeat-x 0 0 transparent;
	height:75px;
	border:1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 19px 0 0;
	box-shadow: 0 2px 10px #999999;
}
.article_section_start_thread ul li:hover,
.article_section_start_thread ul li.active{
	background: url(/static/images/start_thread_active_bg.png) repeat-x 0 0 transparent;
	height:75px;
	border:1px solid #eecc98;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0;
}
.article_section_start_thread ul li.last{
	margin-right: 0;
}
.article_section_start_thread ul li.active a,
.article_section_start_thread ul li a{
	padding:0 15px 0 93px;
	line-height:75px;
	color:#5f5f5f;
	height: 75px;
}
.article_section_start_thread ul li a.basic{
	background: url(/static/images/basic.png) no-repeat 14px 10px transparent;
}
.article_section_start_thread ul li a.poll{
	background: url(/static/images/poll.png) no-repeat 14px 10px transparent;
}
.article_section_start_thread ul li a.review{
	background: url(/static/images/review.png) no-repeat 14px 10px transparent;
}
.article_section_start_thread ul li a.storyboard{
	background: url(/static/images/storyboard.png) no-repeat 14px 10px transparent;
}
.enter_form{
	background: url(/static/images/enter_your_title_bg.png) repeat-x 0 0 transparent;
	height:110px;
	margin-top:35px;
	border:1px solid #aaaaaa;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}
.enter_form h4{
	color:#3c3c3c;
	text-transform: uppercase;
	position:absolute;
	top:24px;
	left:90px;
	margin:0;
}
.enter_form input{
    background: none repeat scroll 0 0 #606060;
    height: 30px;
    left: 90px;
    position: absolute;
    top: 45px;
    width: 640px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 8px 6px #4c4c4c;
	-moz-box-shadow: inset 1px 1px 8px 6px #4c4c4c;
	box-shadow: inset 1px 1px 8px 6px #4c4c4c; 
	border-color: #656565 #656565 #4D4D4D;
    border-style: solid;
    border-width: 1px;
	color: #FFFFFF;
    font-size: 18px;
}
.start_thread_content{
	margin-top:35px;
}
.start_thread_content h4{
	background: url(/static/images/poll_builder_bg.png) repeat-x 0 0 transparent;
	height:46px;
	border:1px solid #aaaaaa;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:#3c3c3c;
	text-transform: uppercase;
	line-height:46px;
	padding-left: 21px;
	margin: 0;
	position: relative;
	Z-INDEX:9999;
}
.richtext_box{
	background: url(/static/images/richtext_box_bg.png) repeat-x 0 0 transparent;
	height:364px;
	border:1px solid #aaaaaa;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.richtext_box img{
	margin:22px 0 0 8px;
}
.button{
	position:relative;
}
.button a{
	position:absolute;
	right: 0;
    top: 10px;
}
.button img{
	border:medium none;
}
.poll_builder_position{
    position: relative;
}
.poll_builder_content{
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
	border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    height: 76px;
    margin-top: -7px;
    overflow: hidden;
    position: relative;
}
.poll_builder_content.last{
	border-bottom:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
    height: 87px;
    margin-bottom: -11px;
}
.content_box{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 69px;
    position: absolute;
    top: 7px;
    width: 373px;
}
.content_box p{
    left: 19px;
    margin: 0;
    position: absolute;
    top: 18px;
	font-size:16px;
	color:#3c3c3c;	
}
.checkbox_content{
    height: 69px;
    left: 373px;
    position: absolute;
    width: 464px;
	background:#efefef;
	top: 7px;
}
.checkbox_content span,
.checkbox_content input{
	top:11px;
	position:absolute;
}
#checkbox_yes{
	left:28px;
	position:absolute;
}
#checkbox_no{
	left:98px;
	position:absolute;
}
span#yes{
    color: #3C3C3C;
    font-size: 14px;
    font-weight: bold;
    left: 56px;
    position: absolute;
    text-transform: uppercase;
}
span#no{
    color: #3C3C3C;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
	left:124px;
	position:absolute;
}
.checkbox_content p{
	font-size:14px;
	color:#ababab;
    left: 24px;
    margin: 0;
    position: absolute;
    top: 43px;
}
/* --------------------Review--------------------- */
.review_builder_content{
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
	border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    height: 87px;
    margin-top: -7px;
    overflow: hidden;
    position: relative;
}
.review_builder_content.last{
	border-bottom:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
    height: 98px;
    margin-bottom: -11px;
}
.content_box_review{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 80px;
    position: absolute;
    top: 7px;
    width: 260px;
}
.content_box_review p{
    color: #3C3C3C;
    font-size: 16px;
    font-weight: bold;
    line-height: 69px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;	
}
.starbox_content{
    background: none repeat scroll 0 0 #EFEFEF;
    height: 60px;
    left: 260px;
    padding-left: 168px;
    padding-top: 20px;
    position: absolute;
    top: 7px;
    width: 409px;
}
.starbox_content img{
	height:42px;
	width:45px;
	float:left;
	margin-right:6px;
}
/* --------------------Storyboard--------------------- */
.start_thread_content_storyboard{
	margin-top:35px;
	background:#9c9c9c;
	-webkit-border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	border-bottom: 1px solid #565656;
    border-left: 1px solid #565656;
    border-right: 1px solid #565656;
    border-top: 1px solid #565656;
	padding:42px 52px 17px 52px;
	overflow: hidden;
}
.storyboard_content{
	width:332px;
	position:relative;
	float:left;
}
.storyboard_content.odd{
	margin-right:52px;
}
.storyboard_content span{
	width:42px;
	height:42px;
	background:#aaaaaa;
	font-size:20px;
	color:#ffffff;
	font-weight:bold;
	display: block;
	text-align:center;
	line-height:42px;
    border-right: 1px solid #565656;
	border-bottom: 1px solid #565656;
	position:absolute;
	top:0;
	left:0;
	opacity:0.5;
}
.storyboard_content img{
	border:1px solid #bfbfbf;
}
.storyboard_content h3{
	font-size:20px;
	color:#ffffff;
	font-weight:bold;
	display: block;
	color:#4e4e4e;	
	margin:24px 0 7px 0;
}
.storyboard_content p{
	font-size:16px;
	color:#ffffff;
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
	padding:10px 0;
	margin:0px;
}
.storyboard_content a{
	background: url(/static/images/edit.png) no-repeat 0 0 transparent;
    display: block;
    height: 39px;
    line-height: 39px;
    margin-top: 5px;
    padding-left: 42px;
	font-size:18px;
	color:#7a7a7a;
	text-decoration: none;
	text-decoration: none;
}
/* --------------------Welcome--------------------- */
.left_content{
	width:574px;
	margin-right:30px;
}
.left_content_article{
	border-bottom:1px solid #818181;
	position: relative;
}
.left_content_article h3{
	margin:30px 0 0 0;
	font-family: BebasRegular;
	font-size:24px;
	color:#8b2e30;
}
.left_content_article p{
	margin:14px 0 52px 0;
	font-size:16px;
	color:#848484;
	text-align: justify;
}
.left_content_article span{
	color:#ffffff;
	font-size:12px;	
	background:#616161;
	padding:6px 26px 6px 20px;
	position: absolute;
	right:0;
	bottom:0;
}
#article_section .left_content h1{
    letter-spacing: 0;
    text-align: left;
	padding-bottom:0;
}
.right_content{
    position: absolute;
    right: 10px;
    top: 8px;
    width: 320px;
	height: 601px;
	background:#9e9e9e;
	border:1px solid #909090;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.right_content h2{
	font-family: BebasRegular;
	color:#e3e3e3;
	font-size:30px;
	text-align:center;
	margin:17px 0 10px 0;
	text-shadow:0px 1px 1px #777777;
}
.right_content_article{
	margin:0 29px;
}
.right_content_article p{
	text-align: justify;
	border-bottom:1px solid #7e7e7e;
	font-size:16px;
	color:#ffffff;
	margin: 0;
	padding:8px 0;
	text-shadow:0px 1px 1px #dadada;
}
.right_content_bottom p{
	padding:17px 0 8px;
}
.right_content a{
	font-family: BebasRegular;
	color:#787878;
	font-size:16px;
	text-align: center;
	line-height: 33px;
    height: 33px;
    width: 77px;
    position: absolute;
	text-decoration: none;
    right: 28px;
	bottom:14px;
	border:1px solid #ffffff;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d6d6d6));
	background: -webkit-linear-gradient(top, #ffffff 0%,#d6d6d6 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#d6d6d6 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#d6d6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 );
	background: linear-gradient(top, #ffffff 0%,#d6d6d6 100%);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.right_content a:hover{
	font-family: BebasRegular;
	color:#fff;
	font-size:16px;
	text-align: center;
	line-height: 33px;
    height: 33px;
    width: 77px;
    position: absolute;
	text-decoration: none;
    right: 28px;
	bottom:14px;
	border:1px solid #ffffff;
	background: #f9a249;
	background: -moz-linear-gradient(top, #f9a249 0%, #d55207 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9a249), color-stop(100%,#d55207));
	background: -webkit-linear-gradient(top, #f9a249 0%,#d55207 100%);
	background: -o-linear-gradient(top, #f9a249 0%,#d55207 100%);
	background: -ms-linear-gradient(top, #f9a249 0%,#d55207 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a249', endColorstr='#d55207',GradientType=0 );
	background: linear-gradient(top, #f9a249 0%,#d55207 100%);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.right_content_article p.last{
	margin-bottom:49px;
	border-bottom:none;
}
.right_content_bottom{
	top: 617px;
	height: 540px;
}
.right_content_bottom  img{
	float: left;
	border:1px solid #525252;
	margin-top: 19px;
}
.right_content_bottom .right_content_article p{
	margin-left: 68px;
}
/* --------------------User Profile--------------------- */
.user_profile{
	height:790px;
}
.user_profile_content{
	margin:0 10px;
	overflow: hidden;
}
.user_profile_nav{
	width:170px;
	float:left;
}
.user_profile_nav ul {
	padding:0;
	margin: 0;
}
.user_profile_nav ul li{
	background:#a9a9a9 url("/static/images/user_profile_nav.png") no-repeat scroll 132px center;
	height:60px;
	width:170px;
	position: relative;
	margin-top: -7px;
	overflow: hidden;
	-webkit-box-shadow:2px 0 10px #000;
	-moz-box-shadow:2px 0 10px #000;
	box-shadow:2px 0 10px #000;
	-webkit-border-radius: 0 0 0 10px;
	-moz-border-radius: 0 0 0 10px;
	border-radius: 0 0 0 10px;
}
.user_profile_nav a{
	width:124px;
	color:#7a7a7a;
	font-size:16px;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding-bottom: 25px;
	padding-left: 16px;
	line-height:13px;
    padding-top: 24px;
	-webkit-border-radius: 0 0 0 10px;
	-moz-border-radius: 0 0 0 10px;
	border-radius: 0 0 0 10px;
}
.user_profile_nav ul li:hover,
.user_profile_nav ul li.active{
	background-color:#e1e1e1;
}
.user_profile_nav a:hover,
.user_profile_nav a.active{
	background:#F5F5F5;
	color:#848484;
}
.user_profile_nav_1{
	z-index:15;
}
.user_profile_nav_2{
	z-index:14;
}
.user_profile_nav_3{
	z-index:13;
}
.user_profile_nav_4{
	z-index:12;
}
.user_profile_nav_5{
	z-index:11;
}
.user_profile_nav_6{
	z-index:10;
}
.user_profile_nav_7{
	z-index:9;
}
.user_profile_data{
	height:528px;
	width:800px;
	float:left;
	background:#e1e1e1;
	position: relative;
	z-index:17;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
.profile_detail{
	margin:57px auto 0;
	width:623px;
	height:389px;
	overflow: hidden;
	background-image: -moz-linear-gradient(top, #eaeaea, #b5b5b5);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eaeaea), to(#b5b5b5));
	background-image: -o-linear-gradient(top, #eaeaea, #b5b5b5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#b5b5b5');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#b5b5b5')";
	background-image: linear-gradient(top, #eaeaea, #b5b5b5);
	-webkit-border-radius: 20px ;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow:0 1px 1px #000;
	-moz-box-shadow:0 1px 1px #000;
	box-shadow:0 1px 1px #000;
}
.profile_detail_inner{
	margin:10px auto 0;
	width:601px;
	height:365px;
	position: relative;
	background-image: -moz-linear-gradient(top, #ffffff, #c8c8c8);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#c8c8c8));
	background-image: -o-linear-gradient(top, #ffffff, #c8c8c8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c8c8c8');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c8c8c8')";
	background-image: linear-gradient(top, #ffffff, #c8c8c8);
	-webkit-border-radius: 20px ;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow:0 1px 1px #000;
	-moz-box-shadow:0 1px 1px #000;
	box-shadow:0 1px 1px #000;
}
.ribbon{
	background:transparent url(/static/images/ribbon.png) no-repeat right 1px;
    height: 149px;
    position: absolute;
    right: 0;
    width: 148px;
}
.profile_detail_inner img{
	border:1px solid #e7e7e7;
	margin-top:30px;
	margin-left:18px;
	width:175px;
	height:226px;
	float:left;
}
.profile_detail_inner h1{
	margin:22px 0 0 20px;
	float:left;
	color:#8c8c8c;
	font-size:32px;
	font-weight: bold;
}
.statistic{
	width:355px;
	height:173px;
	background-image: -moz-linear-gradient(top, #ffffff, #e9e9e9);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#e9e9e9));
	background-image: -o-linear-gradient(top, #ffffff, #e9e9e9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e9e9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e9e9')";
	background-image: linear-gradient(top, #ffffff, #e9e9e9);
	border-top:1px solid #d0d0d0;
	float: left;
    margin-left: 20px;
    margin-top: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.statistic h4{
	color:#7a7a7a;
	font-size:16px;
	margin:20px 0;
	text-align:center;
    text-transform: uppercase;
}
.statistic_details{
	margin:10px 10px 0;
	border-bottom:1px solid #e1e1e1;
	height: 15px;
}
.statistic_details p{
	color:#848484;
	font-size:14px;
	font-weight:bold;
    text-transform: uppercase;
	margin:0;	
	float:left;
	width: 225px;
	line-height:15px;
}
.statistic_details span{
	color:#ff7e00;
	font-size:14px;
	margin:0;	
	float:right;
}
.id{
	background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#dddddd));
	background-image: -o-linear-gradient(top, #ffffff, #dddddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd')";
	background-image: linear-gradient(top, #ffffff, #dddddd);
    bottom: 0;
    height: 72px;
    position: absolute;
    width: 601px;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
}
.id img{
	height:16px;
}
.id p{
	float:left;
	color:#646464;
	font-size:18px;
	font-weight: bold;
	line-height:76px;
	margin:0 0 0 205px;
}
.more_info{
    bottom: 0;
    height: 35px;
    position: absolute;
    right: 0;
    width: 123px;
	background:#d1d1d1;
	-webkit-border-radius: 10px 0 10px 0;
	-moz-border-radius: 10px 0 10px 0;
	border-radius: 10px 0 10px 0;
	border:1px solid #c6c6c6;
}
.more_info a{
    color: #989898;
    display: block;
    font-family: BebasRegular;
    font-size: 14px;
    line-height: 35px;
    margin-left: 14px;
    padding-left: 30px;
    text-transform: uppercase;
	text-decoration: none;
	background:transparent url(/static/images/more_info.png) no-repeat left center;
}
.profile_icons {
    width: 201px;
	float:left;
}
.profile_icons ul{
    border-right: 1px solid #C0C0C0;
    list-style:none;
    margin: 0;
    padding: 15px 0 14px;
    width: 200px;
}
.profile_icons ul li{
	height:42px;
}
.profile_icons a{
	color:#848484;
	font-size:14px;
	display:block;
	line-height:42px;
	margin-left: 12px;
	text-decoration: none;
    padding-left: 40px;
}
.profile_icons a.gmail{
	background:transparent url(/static/images/profile_icon_1.png) no-repeat left center;
}
.profile_icons a.qq{
	background:transparent url(/static/images/profile_icon_2.png) no-repeat left center;
}
.profile_icons a.tumblr{
	background:transparent url(/static/images/profile_icon_3.png) no-repeat left center;
}
.profile_icons a.msn{
	background:transparent url(/static/images/profile_icon_4.png) no-repeat left center;
}
.profile_icons a.facebook{
	background:transparent url(/static/images/profile_icon_5.png) no-repeat left center;
}
.profile_icons a.aim{
	background:transparent url(/static/images/profile_icon_6.png) no-repeat left center;
}
.profile_icons a.skype{
	background:transparent url(/static/images/profile_icon_7.png) no-repeat left center;
}
.profile_icons a.twitter{
	background:transparent url(/static/images/profile_icon_8.png) no-repeat left center;
}
.profile_icons_right{
	width:400px;
	height: 365px;
	float:left;
	background-image: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#dcdcdc));
	background-image: -o-linear-gradient(top, #ffffff, #dcdcdc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc')";
	background-image: linear-gradient(top, #ffffff, #dcdcdc);
	-webkit-border-radius: 0 20px 20px 0;
	-moz-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
}
.profile_icons_right h3.top_heading{
	color:#2f2f2f;
	font-size:14px;
	text-transform: uppercase;
	margin:24px 0 21px 16px;
}
.profile_icons_right h3{
	color:#848484;
	font-size:14px;
	text-transform: uppercase;
	margin:0 0 10px 16px;
}
.profile_icons_right p{
	color:#909090;
	font-size:14px;
	margin:0 10px 27px 16px;
	text-align: justify;
}












