{% extends 'layouts/frame.html' %}
{% block title %}About Us{% endblock %}
{% block headers %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/about.css') }}" />
{% endblock %}
{% block frame %}
	<div class="content_wrapper aboutus">
			<h2>About Us</h2>
			<div class="form_content_bg about">
				<img src="/static/images/about_us_img.png"/>
				<div class="about_content odd">
						<h2>If you enjoy meaningful, you belong here.</h2>
						<p>TheOuterClub is a social discussion lounge that combines organized discussion with social networking features. Our platform is categorized by a variety of interests and life topics, so that you can view and post discussions that are meaningful to you. It's tough to be part of multiple online communities, so why choose us?  The answer is simple -   because we are obsessed with facilitating only the highest-quality community discussion. </p>
                        <div class="clear"></div>
				</div>
				<div class="about_content even">
						<h2>We innovate discussion.</h2>
						<p>An overview of some of our unique features:</p>
						<ul>
							<li>Topic templates (basic, review, poll, storyboard) to simplify thread creation</li>
							<li>Thread landmarks to provide thread summarization</li>
							<li>Tags to organize threads and create infinite sub-boards</li>
							<li>Newsfeed and user following</li>
							<li>User prestige per board as a form of reputation and incentive for good behavior</li>
						</ul>
                        <div class="clear"></div>
				</div>
				<div class="about_content odd">
						<h2>Passion makes the world go round.</h2>
						<p>TheOuterClub runs on passion - a burning desire for a product that we, the founders would love to use. It's not about money. It's not about fame. It's about the creation of something new that we can share with our users together. We all have thought-provoking questions about life, interests and hobbies that we love, experiences and stories that we want to share. Let's cut out all the trolling, flame wars, meaningless and one sentence remarks. Broaden our minds and horizons, it's time to meet the rest of the world and share our passions with it.</p>
                        <div class="clear"></div>
				</div>
				<div class="about_content even last">
						<h2>It's about both you and me.</h2>
						<p>We care about our community.  At TheOuterClub, you always have an opportunity to post your opinions and be heard. Innovating engaging, high-quality discussion requires the both of us to work together and problem solve for new solutions. Let's change the world together one step at a time.</p>
                        <div class="clear"></div>
				</div>
				<div class="friendship">
					<h2>So let's build a friend ship.</h2>
					<div class="quote"> Get to know the team behind it all (we're just like you!). <br />A word from your founders:</div>
					<div class="friendship_content">
						<div class="friendship_content_left">
						<img src="/static/images/friendship_img_1.png"/>
                        </div>
						<div class="friendship_content_right">
						    <span>My name's Edward A.</span>
							<p>Zhang or you can just call me Ed. I'm both founder and CEO, and the vision for our team. I'm currently 24 years old, an Economics/Accounting graduate from the University of MD, College Park, and an avid lover of all kinds of sports, but I especially love playing basketball and tennis. I am a very passionate person and owning my own company has always been a big dream of mine. I couldn't have gotten to where I am now without the guys below.  I started this company in hopes of re-creating a discussion platform on the web as something that I would personally love to use. </p>
							<h4>What does discussion mean to you?</h4>
							<p>
								I truly believe that our product is making a great cause in the world. Discussion to me is the coming together of one warm community in an exchange of ideas. In this way, it's possible to not only mutually educate and inform, but we can cultivate new and exciting ideas as well. 
							</p>
						</div>
                        <div class="clear"></div>
					</div>
					<div class="friends friendship_content">
						<div class="friends_list">
							<img src="/static/images/friendship_img_2.png"/>
							<div class="quote">My name's Mike.</div>
						</div>
						<div class="friends_list">
							<img src="/static/images/friendship_img_3.png"/>
							<div class="quote">My name's Phil.</div>
						</div>
						<div class="friends_list">
							<img src="/static/images/friendship_img_4.png"/>
							<div class="quote">My name's Kyle.</div>
						</div>
					</div>
				</div>
			</div>
	</div>
{% endblock %}
