{% extends 'tab_layout.html' %}
{% block inner %}
<style type="text/css">
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#nav li a {
    color: white;
    display: block;
    padding: 50px;
    background-color: #333;
    margin: 1px;
}
#nav li a:hover {
    background-color: #777;
    text-decoration: none;
}
</style>
<ul id="nav">
{% for c in categories.iterkeys() %}
<li><a href="{{ url_for('category',category=c) }}">{{ categories[c] }}</a></li>
{% endfor %}
</ul>

{% endblock %}
