{% extends 'layouts/default.html' %}
{% block title %}
{{ category_name }}
{% endblock %}
{% block content %}
    <style type="text/css">
        @import url(/static/css/category.css);
    </style>
	<div class="content_wrapper">
		<div class="heading">
            <div class="left">
                <a href="{{ url_for('category',category=category_url) }}">
			    <img src="/static/images/technology_icon.png" /><h2>{{ category_name }}</h2></a>
            </div>
            <div class="right">
			    <h3>Show Newest First</h3><img src="/static/images/show_new_bg.png" />
			    <a href="">Start a Thread</a>
            </div>
		</div>	
        <div class="clear"></div>
		<div class="populer_tag">
			<span>Populer Tags:</span>
            <ul>
            {% for tag in popular %}
			<li><a href="">{{ tag }}</a></li>
            {% endfor %}
            </ul>
		</div>

        <div class="frame">
            <div class="featured">
                <div class="post_content">
                    <h1>Lorem ipsum dolor sit amet</h1> <img src="/static/images/new/magnify.png" />
                    <div>Started by Kyle on 19 July 2011 at 4:55PM</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra condimentum sollicitudin. Integer scelerisque magna in ipsum dignissim condimentum. Aenean bibendum, nisi sit amet scelerisque semper, nisi arcu aliquet urna, elementum molestie ante nulla non leo...</p>
                </div>
                <div class="featured_nav">
                    <img src="/static/images/nav_icon.png" />
                    <a class="tag" href="#">Latin</a>
                    <a class="tag" href="#">College</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="posts">
                {% for post in posts %}
                <div class="post" onclick="location.href='/discussion/{{ post.id }}'">
                    <div class="post_content">
                        <h1>{{ post.title }}</h1> <img src="/static/images/new/magnify.png" />
                        <div>Started by {{ post.user }} on {{ post.date }}</div>
                    </div>
                    <div class="post_nav">
                        {% for tag in posts.tags %}
                        <a class="tag" href="#">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="clear"></div>
                </div>
                {% endfor %}
            </div>
        </div>
		</div>
    </div>
{% endblock %}
