{% extends 'layouts/default.html' %}
{% block title %}
{{ discussion.title }}
{% endblock %}
{% block headers %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/category.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/discussion.css') }}" />
{% endblock %}
{% block footers %}
    <script type="text/javascript">
        function createResponse(fadeIn,user,date,content,avatar) {
            var previousD = $(".discussion");
            // get last full date
            var lastDateSplit;
            for (var x=previousD.size()-1; x >= 0; x--)
            {
                lastDateSplit = $(previousD.get(x)).find('.date').text().split(' ');
                if (lastDateSplit.length == 4)
                {
                    break;
                }
            }
            
            var currentDateSplit = date.split(' ');

            // same date as before?
            if (currentDateSplit[0] == lastDateSplit[0] && currentDateSplit[1] == lastDateSplit[1] &&
                currentDateSplit[2] == lastDateSplit[2])
            {
                date = currentDateSplit[3];
            }
            var str ='<div class="discussion" style="display: none">';
            str += '<div class="user">'+
                    '<div class="description">'+
                        '<h2>'+user+'</h2>'+
                        '<div>Prestige: 67</div>'+
                    '</div>'+
                    '<img src="/static/images/new/avatars/'+avatar+'" />'+
                '</div>'+
                '<div class="content">'+
                    content+
                    '<br />'+
                    '<div class="date">'+date+'</div>'+
                '</div>';
            str += '</div>';

            $(".reply").before(str);
            if (fadeIn) {
                $(".discussion:last").fadeIn();
            } else {
                $(".discussion:last").show();
            }
        };
        var socket;
        var currentViewers = {};
        $(document).ready(function() {
            socket.on('connect',function() {
                socket.emit('register','/discussion/{{ discussion.id}}');
            });
            socket.on('response',function(data) {
                createResponse(true,data.user,data.date,data.content,data.avatar);
            });
            socket.on('viewers',function(data) {
                // scan for removals
                var toRemove = [];
                for (var v in currentViewers)
                {
                    if (!(v in data))
                    {
                        $("#v_"+v).fadeOut(function() {
                            $(this).remove();
                        });
                        delete currentViewers[v];
                    }
                }
                // scan for insertions
                for (v in data) {
                    if (!(v in currentViewers)) {
                        user = jQuery('<img id="v_'+v+'"src="/static/images/new/avatars/'+data[v]+'" />');
                        user.hide();
                        $(".discussion_frame .users").append(user);
                        user.fadeIn();
                        currentViewers[v] = '';
                    }
                }
            });
            $("button").click(function() {
                $.post('{{ url_for('reply') }}', { d_id:'{{ discussion.id }}', data: $("textarea").val()},
                    function(data) {
                        $("textarea").val('');
                });
            });
            {% for response in responses %}
            createResponse(false,'{{ response.user }}', '{{ response.date }}','{{ response.content }}','{{ response.avatar }}');
            
            {% endfor %}
        });
    </script>
{% endblock %}
{% block content %}
	<div class="content_wrapper">
		<div class="heading">
            <div class="left">
			    <a href="{{ url_for('category',category=category_url) }}"><img src="/static/images/technology_icon.png" /><h2>{{ category_name }}</h2></a>
            </div>
            <div class="right">
			    <a href="">Start a Thread</a>
            </div>
		</div>	
        <div class="clear"></div>
        <div class="discussion_frame">
            <div class="room">
            </div>
            <div class="users">
            </div>
            <div class="discussion">
                <div class="user">
                    <div class="description">
                        <h2>{{ discussion.user }}</h2>
                        <div>Prestige: 67</div>
                    </div>
                    <img src="/static/images/new/avatars/{{ discussion.avatar }}" /> 
                </div>
                <div class="content">
                    {{ discussion.content }}
                    <br />
                    <div class="date">{{ discussion.date }}</div>
                    <br />
                    <img src="/static/images/nav_icon.png">
                    <a class="tag" href="#">Latin</a>
                    
                </div>
            </div>

            <div class="reply">
                <span class="info">Write a comment</span><br />
                <textarea rows="6" cols="80"></textarea>
                <button>Post</button>

            </div>
            <div class="clear"></div>
            
        </div>
    </div>

{% endblock %}
