{% extends 'layouts/default.html' %}
{% block title %}
{{ discussion.title }}
{% endblock %}
{% block content %}
    <style type="text/css">
    @import url(/static/css/discussion.css)
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $("button").click(function() {
                $.post('{{ url_for('reply') }}', { d_id:'{{ discussion.id }}', data: $("input[name='response']").val()},
                    function(data) {
                        $(".thread_article_post:last").after("HELO!");
                });
            });
        });
    </script>
	<div class="content_wrapper">
		<div class="heading">
            <div class="left">
			    <a href="{{ url_for('category',category=category_url) }}"><img src="/static/images/technology_icon.png" /><h2>{{ category_name }}</h2></a>
            </div>
            <div class="right">
			    <a href="">Start a Thread</a>
            </div>
		</div>	
        <div class="clear"></div>
		<div class="populer_tag">
			<span>Populer Tags:</span>
            <ul>
            {% for tag in popular %}
			<li><a href="">{{ tag }}</a></li>
            {% endfor %}
            </ul>
		</div>
	<div class="sub_populer_tag">
			<div class="star">
				<a href="#">Star</a>
			</div>
            <div class="post_content">
				<h1>{{ discussion.title }}</h1>
            </div>
            <div class="clear"></div>
		</div>
		<div class="thread_posts">
			<div class="thread_article_nav">
				<ul>
					<li class="nav nav_1 active">
						<a href="" class="active">New Posts</a>
					</li>
					<li class="nav nav_2">
						<a href="" class="">Landmark</a>
					</li>
					<li class="nav nav_3">
						<a href="">Thread Stats</a>
					</li>
					<li class="nav nav_4">
						<a href="">Notifications</a>
					</li>
					<li class="nav nav_5">
						<a href="">Drafts</a>
					</li>
					<li class="nav nav_6 last">
						<a href="">User Profile</a>
					</li>
				</ul>
				<div class="user_profile">					
				</div>
			</div>
			<div class="thread_article">
				<div class="thread_article_post first_post">
					<div class="left">
						<img src="/static/images/user_1.png"/>
					</div>
					<div class="middle">
						<h3>{{ discussion.user }}</h3>
						<span>on {{ discussion.date }}</span>
						<p>{{ discussion.content }}</p>
						<div class="post_nav thread_right_nav">
                            {% for tag in discussion.tags %}
							<a href="#">{{ tag }}</a>
                            {% endfor %}
						</div>
						<p class="comment">
							<a href="" class="follow">Follow</a>
							<a href="" class="comment">Add Comment</a>
						</p>
					</div>
				</div>
                {% for response in responses %}
				<div class="thread_article_post">
					<div class="left">
						<img src="/static/images/user_2.png"/>
					</div>
					<div class="middle">
						<h3>{{ response.user }}</h3>
						<span>on {{ response.date }}</span>
						<p>{{ response.content }}</p>
						<p class="comment">
							<a href="" class="follow">Follow</a>
							<a href="" class="comment">Add Comment</a>
						</p>
					</div>
                    <div class="flag">
                        <img class="first" src="/static/images/flag_1.png"/>
                        <img src="/static/images/flag_2.png"/>
                        <img src="/static/images/flag_3.png"/>
                        <img src="/static/images/flag_4.png"/>
                    </div>
				</div>
                {% endfor %}
			</div>

            <div style="background:white">Reply: <input type="text" name="response" value="" /> <button name="submit">Submit</button></div>
            <div class="clear"></div>
        </div>
    </div>

{% endblock %}
