{% extends 'layouts/default.html' %}
{% block title %}
{{ discussion.title }}
{% endblock %}
{% block content %}
    <style type="text/css">
    @import url(/static/css/category.css);
    @import url(/static/css/discussion.css);
    </style>
    <script type="text/javascript">
        function createDiscussion(fadeIn,user,date,content,avatar) {
            var previousD = $(".discussion");
            // get last full date
            var lastDateSplit;
            for (var x=previousD.size()-1; x >= 0; x--)
            {
                lastDateSplit = $(previousD.get(x)).find('.date').text().split(' ');
                if (lastDateSplit.length == 5)
                {
                    break;
                }
            }
            
            var currentDateSplit = date.split(' ');

            // same date as before?
            if (currentDateSplit[0] == lastDateSplit[0] && currentDateSplit[1] == lastDateSplit[1] &&
                currentDateSplit[2] == lastDateSplit[2])
            {
                date = currentDateSplit[4];
            }
            var str ='<div class="discussion" style="display: none">';
            str += '<div class="user">'+
                    '<div class="description">'+
                        '<h2>'+user+'</h2>'+
                        '<div>Prestige: 67</div>'+
                    '</div>'+
                    '<img src="/static/images/new/avatars/'+avatar+'" />'+
                '</div>'+
                '<div class="content">'+
                    content+
                    '<br />'+
                    '<div class="date">'+date+'</div>'+
                '</div>';
            str += '</div>';

            $(".reply").before(str);
            if (fadeIn) {
                $(".discussion:last").fadeIn();
            } else {
                $(".discussion:last").show();
            }
        };
        $(document).ready(function() {
            $("button").click(function() {
                $.post('{{ url_for('reply') }}', { d_id:'{{ discussion.id }}', data: $("textarea").val()},
                    function(data) {
                        $("textarea").val('');
                        createDiscussion(true,data.user,data.date,data.content,data.avatar);
                });
            });
            {% for response in responses %}
            createDiscussion(false,'{{ response.user }}', '{{ response.date }}','{{ response.content }}','{{ response.avatar }}');
            
            {% endfor %}
        });
    </script>
	<div class="content_wrapper">
		<div class="heading">
            <div class="left">
			    <a href="{{ url_for('category',category=category_url) }}"><img src="/static/images/technology_icon.png" /><h2>{{ category_name }}</h2></a>
            </div>
            <div class="right">
			    <a href="">Start a Thread</a>
            </div>
		</div>	
        <div class="clear"></div>
		<div class="populer_tag">
			<span>Populer Tags:</span>
            <ul>
            {% for tag in popular %}
			<li><a href="">{{ tag }}</a></li>
            {% endfor %}
            </ul>
		</div>
        <div class="discussion_frame">
            <div class="room">
            </div>
            <div class="discussion">
                <div class="user">
                    <div class="description">
                        <h2>{{ discussion.user }}</h2>
                        <div>Prestige: 67</div>
                    </div>
                    <img src="/static/images/new/avatars/{{ discussion.avatar }}" /> 
                </div>
                <div class="content">
                    {{ discussion.content }}
                    <br />
                    <div class="date">{{ discussion.date }}</div>
                    <br />
                    <img src="/static/images/nav_icon.png">
                    <a class="tag" href="#">Latin</a>
                    
                </div>
            </div>

            <div class="reply">
                <span class="info">Write a comment</span><br />
                <textarea rows="6" cols="80"></textarea>
                <button>Post</button>

            </div>
            <div class="clear"></div>
            
        </div>
    </div>

{% endblock %}
