{% extends 'layouts/tabbed.html' %}
{% block title %}
Home
{% endblock %}
{% block inner %}
					<h1>A SOCIAL DISCUSSION LOUNGE BETA</h1>
					<div class="article">
						<div class="article_left">
							<img src="/static/images/image1.jpg"/>
						</div>
						<div class="article_right">
							<h2>QUISQUE VENENATIS ELEMENTUM.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate, urna non volutpat malesuada, nisi nulla hendrerit risus, quis pretium augue enim a lacus. Pellentesque non tempor dui. Donec non tempor turpis. Praesent aliquam molestie urna eget vestibulum. Mauris gravida, dui in venenatis interdum, sapien ipsum vulpu tate felis, sit amet pharetra felis risus vitae velit. </p>
							<span>7/19/2011 04:55:00 PM </span>
						</div>
					</div>
					<div class="article">
						<div class="article_left">
							<img src="/static/images/image2.jpg"/>
						</div>
						<div class="article_right">
							<h2>QUISQUE VENENATIS ELEMENTUM.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate, urna non volutpat malesuada, nisi nulla hendrerit risus, quis pretium augue enim a lacus. Pellentesque non tempor dui. Donec non tempor turpis. Praesent aliquam molestie urna eget vestibulum. Mauris gravida, dui in venenatis interdum, sapien ipsum vulpu tate felis, sit amet pharetra felis risus vitae velit. </p>
							<span>7/19/2011 04:55:00 PM </span>
						</div>
					</div>
					<div class="article">
						<div class="article_left">
							<img src="/static/images/image3.jpg"/>
						</div>
						<div class="article_right">
							<h2>QUISQUE VENENATIS ELEMENTUM.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate, urna non volutpat malesuada, nisi nulla hendrerit risus, quis pretium augue enim a lacus. Pellentesque non tempor dui. Donec non tempor turpis. Praesent aliquam molestie urna eget vestibulum. Mauris gravida, dui in venenatis interdum, sapien ipsum vulpu tate felis, sit amet pharetra felis risus vitae velit.</p>
							<span>7/19/2011 04:55:00 PM </span>
						</div>
					</div>
{% endblock %}
