{% extends 'layouts/tabbed.html' %}
{% block title %}
Trending
{% endblock %}
{% block inner %}
<style type="text/css">
@import url(/static/css/trending.css);
</style>
<a>
<img src="{{ url_for('static',filename='images/trending/discussions_hover.png') }}" />
</a>
<a>
<img src="{{ url_for('static',filename='images/trending/tags.png') }}" />
</a>
<a>
<img src="{{ url_for('static',filename='images/trending/upvotes.png') }}" />
</a>
<a>
<img src="{{ url_for('static',filename='images/trending/gifts.png') }}" />
</a>
<div class="clear">&nbsp;
</div>
{% for e in entries %}
<a href="{{ url_for('discussion',id=e.d_id) }}" class="entry">
    <div class="number">
        <span>{{ e.rank }}</span>
    </div>
    <img src="{{ url_for('static',filename='images/categories/'+e.image) }}" height="90" width="130" />
    <div class="text">
        <h2>{{ e.title }}</h2>
        <div class="date">{{ e.date }}</div>
        <p>{{ e.content }}</p>
    </div>
</a>
{% endfor %}
{% endblock %}
