{% extends 'layouts/default.html' %}
{% block title %}
Welcome
{% endblock %}
{% block headers %}
{% endblock %}
{% block content %}
<div id="newConversation" class="overlay">
    <div class="border">
    <h2>New Conversation</h2>
    <div class="titleField"><input size="40" type="text" name="title" /><span class="label">title</span></div>
    <div class="contentField"><textarea cols="90" rows="20" name="content"></textarea><span class="label">content</span></div>
    <p><button name="post" class="close">Post</button> <button class="close">Close</button></p>
    </div>
</div>
<div class="content_wrapper">
    <div class="heading" style="display: none">
        <div class="left">
            <a href="#">
            <img width="72" height="65" /><h2></h2></a>
        </div>
        <div class="right">
            <button rel="#newConversation" class="decorated">Start a Conversation</button>
        </div>
    </div>	
    <div class="frame">
        <div id="welcome" title="Welcome">
            <div class="announcements">
                <h1>Announcements</h1>
                {% for a in announcements %}
                    <div class="announcement">
                        <img src="/static/images/icons/oc.png" />
                        <h2>{{ a.title }}</h2>
                        <p>{{ a.content }}</p>
                        <span class="date">{{ a.postDate }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="question">
                <h1><span>Question</span> of the Week</h1>
                <blockquote>&quot;Lorem Ipsum&quot; <span class="author">Author</span></blockquote>
                <textarea cols="100" rows="5" name="question_answer"></textarea><button name="post">Post</button>
            </div>
            <div class="tasks">
                <h1><span>Suggested</span> Tasks</h1>
                {% for t in tasks %}
                    <div class="task">
                        <h2>{{ t.type }}</h2>
                        <p> {{ t.done }}</p>
                     </div>
                {% endfor %}
            </div>
        </div>
        <div id="categories" title="Categories" style="display: none">
            <div align="center">
            <table id="nav">
            {% set x = 0 %}
            {% for c in categories %}
                {% if x == 0 or x == 4 or x == 7 or x == 10 %}
                <tr>
                {% endif %}
                <td {% if x == 5 or x == 9 or x == 11 %} colspan="2" {% endif %}>
                    <a title="{{ c.name }}" href="#"><img src="{{ url_for('static',filename='images/categories/'+c.image) }}" /></a>
                </td>
                {% set x = x + 1 %}
            {% endfor %}
            </table>
            </div>
        </div>
        <div id="guilds" title="Guilds" style="display: none">
            <button rel="#newGuild" class="decorated">Start a Guild</button>
            <div id="newGuild" class="overlay">
                <div class="border">
                <h2>New Guild</h2>
                </div>
            </div>
        </div>
        <div id="trending" title="Trending" style="display: none">
            <h1>Trending Now</h1>
            <!--<a><img src="/static/images/trending/discussions_hover.png" /></a>
            <div class="clear">&nbsp;</div>-->
        </div>
        <div id="leaderboard" title="Leaderboard" style="display: none">
            <h1>Leaderboard</h1>
        </div>
        <div id="dynamic" style="display: none">
        </div>
        <div id="conversation" style="display: none">
            <div class="room">
                <h2></h2>
                <div class="cover">
                </div>
                <div class="users">
                </div>
            </div>
            <div class="responses">

            </div>
            <div class="reply">
                <span class="info">Write a response</span><span class="error"></span><br />
                <textarea rows="6" cols="80"></textarea>
                <button>Post</button>
            </div>
            <div class="help">
                <ul>
                 <li><span>@user</span> &rarr; mention user</li>
                 <li><span>/me</span> nods &rarr; User nods.</li> 
                </ul>
            </div>
            
        </div>

    </div>
</div>
{% endblock %}
