{% extends 'layouts/default.html' %}
{% block title %}
Welcome
{% endblock %}
{% block headers %}
{% endblock %}
{% block content %}
<div id="newConversation" class="overlay">
    <div class="border">
    <h2>New Conversation</h2>
    <div class="titleField"><input size="40" type="text" name="title" /><span class="label">title</span></div>
    <div class="contentField"><textarea cols="90" rows="15" name="content"></textarea><span class="label">content</span></div>
    <p><button name="post" class="default">Post</button></p>
    </div>
</div>
<div class="content_wrapper">
    <div class="heading" style="display: none">
        <div class="left">
            <a href="#">
            <img width="72" height="65" /><h2></h2></a>
        </div>
        <div class="right">
            <button rel="#newConversation" class="decorated">Start a Conversation</button>
        </div>
    </div>	
    <div class="frame">
        <div id="welcome" title="Welcome">
            <div class="announcements">
                <h1>Announcements</h1>
                {% for a in announcements %}
                    <div class="announcement">
                        <img src="/static/images/icons/oc.png" />
                        <h2>{{ a.title }}</h2>
                        <p>{{ a.content.replace('\n','<br />')|safe }}</p>
                        <span class="date">{{ a.postDate }}</span>
                    </div>
                {% endfor %}
            </div>
            {% if question %}
            <div class="question">
                <h1><span>Question</span> of the Week</h1>
                <a href="/category/question+of+the+week/"><blockquote>&quot;Lorem Ipsum&quot; <span class="author">Author</span></blockquote></a>
                <textarea cols="100" rows="5" name="question_answer"></textarea><button name="post">Post</button>
            </div>
            <div class="tasks">
                <h1><span>Suggested</span> Tasks</h1>
                {% for t in tasks %}
                    <div class="task">
                        <h2>{{ t.type }}</h2>
                        <p> {{ t.done }}</p>
                     </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div id="categories" title="Categories" style="display: none">
            <div align="center">
            </div>
        </div>
        <div id="trending" title="Trending" style="display: none">
        </div>
        <div id="leaderboard" title="Leaderboard" style="display: none">
        </div>
        <div id="dynamic" style="display: none">
        </div>
        <div id="conversation" style="display: none">
            <div class="room">
                <h2></h2>
                <div class="cover">
                </div>
                <div class="users">
                </div>
            </div>
            <div class="responses">

            </div>
            <div class="reply">
                <div class="error"></div>
                <textarea rows="6" cols="80"></textarea>
                <button>Post</button>
            </div>
            <div class="help">
                <ul>
                 <li><span>@user</span> &rarr; mention user</li>
                 <li><span>/me</span> nods &rarr; User nods.</li> 
                </ul>
            </div>
            
        </div>
        <div id="faq" style="display:none">
        <ul>
            <li><div class="question">What is prestige?</div>
            <div class="answer">Prestige is a metric used to indicate your likability, popularity, and general quality of contributions. Prestige points are earned when you create posts or when your posts are up voted. When enough prestige points are earned, you increase to the next prestige level.</div></li>
            <li><div class="question">How many prestige levels are there?</div>
            <div class="answer">Prestige levels are from 1 to 100. With every prestige level increase, the requirements for prestige points increases.</div></li>
            <li><div class="question">What are the benefits to having high prestige?</div>
            <div class="answer">Higher exposure and popularity by being on the leader board, as well as wielding more power. Users with higher prestige have greater influence through up votes.</div></li>
            <li><div class="question">Will there be new categories?</div>
            <div class="answer">Yes, depending on demand for new categories.</div></li>
            <li><div class="question">What is Question of the Week?</div>
            <div class="answer">Every week an open-ended conversation topic will be chosen. These questions are meant to stimulate community and social interaction.</div></li>
            <li><div class="question">What determines the Suggested Tasks?</div>
            <div class="answer">Suggested tasks are our recommendations to you based upon your viewing and posting history. Sometimes you may get recommendations from categories you frequently visit. Other times you might be encouraged to visit conversations you don’t explore often.</div></li>
            <li><div class="question">When should users give a &quot;coffee&quot; up vote?</div>
            <div class="answer"> The coffee up vote is our representation of a &quot;thumbs up&quot;. Our take on up voting is based on people, and not on the actual content itself. Each user can be upvoted once within each conversation. You determine which users deserve your upvote, whether they are: helpful, friendly, spontaneous, badass, or whatever else! In the future, our up vote system will be more elaborate.</div></li>
            <li><div class="question">How does flagging work?</div>
            <div class="answer">You can opt to flag a post that you deem is inappropriate, spam, offensive, or bad manner in some way. When enough flags have been voted by the community, the post will shut down automatically. With every flag, the post loses transparency.</div></li>
            <li><div class="question">Who are the moderators?</div>
            <div class="answer">Currently the only moderators are the co-founders. As the site expands, we will gradually add qualified moderators. Maintaining a safe and mature community means everything to us.</div></li>
            <li><div class="question">Will users be able to change their avatars?</div>
            <div class="answer">Certainly. At the moment, only a limited selection is available. However, we will allow you to upload your own avatar in the near future.</div></li>
            <li><div class="question">Who creates the visuals for OuterClub?</div>
            <div class="answer">They’re great, aren’t they? Our lovely graphic designer, Uliya is in charge of all the graphics. The background is photography by Rob Sheridan.</div></li>
            <li><div class="question">When will OuterClub complete beta?</div>
            <div class="answer">We are busy making new additions and adjustments on a daily basis. The best answer is: when we feel that the product is finally ready with enough of our intended features. Oh, and of course when it’s bug-free.</div></li>
            <li><div class="question">What new features can we expect in the future?</div>
            <div class="answer">We have tons of stuff planned for you guys! This includes: more user customization, better real-time features, conversation facilitation mechanisms, interesting prestige/virtual goods incentives, and so much more.</div> </li>
        </ul>
        </div>

    </div>
</div>
{% endblock %}
