{% extends 'layouts/default.html' %}
{% block title %}
Welcome
{% endblock %}
{% block headers %}
{% endblock %}
{% block content %}
<div id="newConversation" class="overlay">
    <div class="border">
    <h2>New Conversation</h2>
    <div class="titleField"><input size="40" type="text" name="title" /><span class="label">title</span></div>
    <div class="contentField"><textarea cols="90" rows="15" name="content"></textarea><span class="label">content</span></div>
    <div class="error"></div>
    <p><button name="post" class="default">Post</button></p>
    </div>
</div>
<div id="frame">
    <div id="welcome" title="Welcome">
    	<div class="slide_show" style="display:none">
    		<h2>Happening Right Now</h2>
    		<div class="scroll"></div>
    	</div>
        <div class="twitter">
        {% if not config['DEBUG'] %}
            <a href="https://twitter.com/outerclub" class="twitter-follow-button" data-show-count="false">Follow @outerclub</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        {% endif %}
            <div class="tweets">
            </div>
        </div>
        <div id="chat" style="display:none">
        	<ul class="messages">
        	</ul>
        	<ul class="users">
        	</ul>
        	<input type="text" name="msg" size="40" />
    	 </div>
        {% if question %}
        <div class="question">
            <h1><span>Question</span> of the Week</h1>
            <a href="/category/question+of+the+week/"><blockquote>&quot;Lorem Ipsum&quot; <span class="author">Author</span></blockquote></a>
            <textarea cols="100" rows="5" name="question_answer"></textarea><button name="post">Post</button>
        </div>
        <div class="tasks">
            <h1><span>Suggested</span> Tasks</h1>
            {% for t in tasks %}
                <div class="task">
                    <h2>{{ t.type }}</h2>
                    <p> {{ t.done }}</p>
                 </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div id="trending" title="Trending" style="display: none">
    </div>
    <div id="leaderboard" title="Leaderboard" style="display: none">
    </div>
    <div id="dynamic" style="display: none">
    </div>
    <div id="viewer" style="display:none">
        <div class="menu">
            <ul>
            </ul>
            <ul class="categories">
                
             </ul>
        </div>
        <div class="panel">
            <div class="heading">
                <div class="left">
                    <a href="#">
                    <img width="72" height="65" /><h2></h2></a>
                </div>
                <div class="right">
                    <button rel="#newConversation" class="decorated">What's on your mind?</button>
                </div>
            </div>	
            <div class="content">
            </div>
        </div>
        <div class="scrollPanel" style="display:none">
            <div class="heading">
                <div class="left">
                    <a href="#">
                    <img width="72" height="65" /><h2></h2></a>
                </div>
                <div class="right">
                    <button rel="#newConversation" class="decorated">Start a Conversation</button>
                </div>
            </div>	
            <div class="content">
            </div>
        </div>
        <div id="conversation" style="display: none">
            <div class="room">
                <h2></h2>
                <div class="cover">
                </div>
                <div class="users">
                </div>
            </div>
            <div class="underlay">
                <div class="responses">

                </div>
                <div class="reply">
                    <div class="error"></div>
                    <textarea rows="6" cols="80"></textarea>
                    <button>Post</button>
                </div>
                <div class="help">
                    <ul>
                     <li><span>@user</span> &rarr; mention user</li>
                     <li><span>/me</span> nods &rarr; User nods.</li> 
                    </ul>
                </div>
            </div>
        </div>
</div>
{% endblock %}
