<html>
<body  style="margin:0;padding:0;background-color:white">

<table style=" height: 549px; width: 648px;background-color: white;">
<tr><td valign="top" background="http://outerclub.com/static/images/invitation_referral.png">
<div style="padding: 110px 0 0 50px; font-family:Arial,sans-serif;font-size:20px;color:#799aac;line-height:21px;width:550px">Hello, <b style="color: #406c84">{{ name }}</b><br /><br />You've been invited to join OuterClub, an online lounge for real-time conversations!<br /><br />If you love forums and conversations, you're found the right place. Whether you are in to video games, sports, fashion, movies, or more - our real-time community modernizes the forum experience. Come join us today!</div>
<div style="padding: 15px 0 154px 220px">
<table style="height:54px; width:205px">
<tr><td align="center" valign="top" style="padding-top:14px;padding-bottom:17px" background="http://outerclub.com/static/images/invitation_button.png"><a style="font-family: Arial;font-size: 20px;font-weight:bold;text-decoration:none;color:#799aac" target="_blank" href="http://outerclub.com/signup?k={{ key }}">Sign up</a>
</td></tr>
</div>
</td></tr>
</table>
</body>
</html>
