<html>
<body  style="margin:0;padding:0;background-color:white">

<table style=" height: 549px; width: 648px;background-color: white;">
<tr><td valign="top" background="/static/images/invitation_referral.png">
<div style="padding: 110px 0 0 50px; font-family:Arial,sans-serif;font-size:20px;color:#799aac;line-height:21px;width:550px">Hello, <b style="color: #406c84">{{ name }}</b><br /><br /><b style="color: #406c84">{{ alias }}</b> is personally inviting you to join them on OuterClub, the Internet's only online lounge! By joining through this invitation, <b style="color: #406c84">{{ alias }}</b> will be receiving <b style="color: #406c84">3 prestige points</b>.<br /><br />Join us today to earn your own prestige and move up the leaderboard. Grab your coffee, we hope to see you there!</div>
<div style="padding: 15px 0 154px 220px">
<table style="height:54px; width:205px">
<tr><td align="center" valign="top" style="padding-top:14px;padding-bottom:17px" background="http://outerclub.com/static/images/invitation_button.png"><a style="font-family: Arial;font-size: 20px;font-weight:bold;text-decoration:none;color:#799aac" target="_blank" href="http://outerclub.com/signup?k={{ key }}">Sign up</a>
</td></tr>
</div>
</td></tr>
</table>
</body>
</html>
