<html>
<body style="margin:20px 0;padding:0;background-color:white;font-family: 'Helvetica Neue', Helvetica, Arial'">
<div style="width:585px;margin:0 auto">
	<h1><a href="http://outerclub.com" style="color: #111111;text-decoration:none">OuterClub</a></h1>
	<table>
	{% for i in items %}
	<tr><td>
		<h2 style="margin:0; font-size:20px">
			<a href="http://outerclub.com" style="color: #77a1cc;text-decoration:none">
			{{ i['category_name'] }}: {{ i['title'] }}
			<span style="font-size:13px;color:#111111">read more...</span>
			</a>
			</h2>
		{% for r in i['responses'] %}
		<div style="font-size:14px;margin-left:15px">
			<span style="font-weight:bold; color: #888;">{{ r['user']['name'] }}:</span>
			{{ r['content']|safe }}
		</div>
		{% endfor %}
	</td></tr>
	{% endfor %}
	</table>
</div>
</body>
</html>
